{{ define "main" }}
<div class="subn">
<nav class="navbar navbar-lower" role="navigation">
<div class="container">
   <ol class="breadcrumb zbr">
  <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
   <li class="active">ZOO-Project</li>
   <li class="active">ZOO-Identity</li>
   </ol>
   <ul class="list-inline pull-right topr">
    <li><a href="https://github.com/ZOO-Project/ZOO-Project/" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a></li>
    <li><a href="https://www.openhub.net/p/zoo-project" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Openhub"><span class="fa fa-circle-o"></span></a></li>
   </ul>
</div>
</nav>
</div>
</nav>


<div class="zoo-default">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-title "><i class="fa fa-paw bfs"></i></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-10 text-center">	
      <h1 class="section-heading">ZOO Identity</h1>
      <h2 class="sub-heading">the ZOO Project footprint</h2>
      <div class="well well well-heading">
	<p class="intnp">This is the <a href="http://zoo-project.org">ZOO-Project</a> Identity section. Please use the following material for promoting or citing the <a href="http://zoo-project.org">ZOO-Project</a> open WPS platform. And don't forget to link back to our website ! Thank you.</p>
      </div>
    </div>
  </div>
</div>

<div class="bblocks">
 <div class="container">
  <div class="row zserv">
    <div class="col-md-12 col-xs-12 text-center">
      <h2>Promote ZOO-Project !</h2>  
    </div>
 </div>
 </div>
 </div>

  <div class="zoo-content-npb">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-4 col-lg-4">
   <h2 class="st"><i class="fa fa-image"></i> ZOO logo images</h2>
   <p class="sp">The <a href="http://zoo-project.org">ZOO-Project</a> original logo represents the sunny african savannah with elephants, a giraf and a baobab tree. A simplified version of the logo is also commonly used with then sun only and the ZOO logo text on top of it.</p>

   </div>
    <div class="col-xs-3 col-sm-3 col-lg-3 text-center">
     <a href="http://zoo-project.org/img/zoo-simple.png" target="_blank" title="ZOO-Project logo simple">
    <div class="well well well-wht"> 
      <img class="img-responsive center-block" src="../../images/zoo-simple.png" width="125" height="125" />
    </div>
     </a>
     <a href="http://zoo-project.org/img/zoo-simple.png" target="_blank" title="ZOO-Project logo simplified"><i class="fa fa-external-link "></i> ZOO-Project simple logo (PNG | 12 ko)</a>
   </div>
   <div class="col-xs-9 col-sm-5 col-lg-5 text-center">
    <a href="http://zoo-project.org/img/zoo-landscape.png" target="_blank" title="ZOO-Project original logo">
    <div class="well well well-wht"> 
      <img class="img-responsive" src="../../images/zoo-landscape2.png" height="140" />
 </div>
    </a>
 <a href="http://zoo-project.org/img/zoo-landscape2.png" target="_blank" title="ZOO-Project original logo"><i class="fa fa-external-link "></i> ZOO-Project logo (PNG | 118 ko)</a>
    
    </div>
   <div class="col-xs-12 col-sm-12 col-lg-12">
<hr class="mbp">
</div>


 <div class="col-xs-12 col-sm-4 col-lg-4">
   <h2 class="st"><i class="fa fa-code"></i> ZOO web badge</h2>
   <p class="sp">Feel free to use the following markup for linking to <a href="http://zoo-project.org">ZOO-Project</a> from your website or blog.</p>
   </div>
    <div class="col-xs-3 col-sm-3 col-lg-8 text-center">
<div class="row">
<div class="col-md-3">
<img src="http://zoo-project.org/img/zoo-simple.png" class="img-responsive img-thumbnail" width="120" height="120" alt="ZOO-Project, the Open WPS Platform" />
</div>
<div class="col-md-9">
<pre class="language-markup"><code>&lt;a href='http://zoo-project.org/' target='_blank'&gt;
 &lt;img src="http://zoo-project.org/img/zoo-simple.png" width="140" height="140" alt="ZOO-Project logo" /&gt;
&lt;/a&gt;</code>
</pre>
</div>
</div>
   </div>

<div class="col-xs-12 col-sm-12 col-lg-12">
<hr class="mbp">
</div>

 <div class="col-xs-12 col-sm-4 col-lg-4">
   <h2 class="st"><i class="icon-zoo-logo"></i> ZOO web font</h2>
   <p class="sp">The ZOO Web font allow to show the <a href="http://zoo-project.org">ZOO-Project</a> logo using the CSS <i>@font-face</i> rule. Feel free to download the ZOO-Project font and to adapt the following CSS and HTML markup for using it.</p>
<p class="sp"> <a href="./fonts/ZOO-Project-font.tar.bz2" target="_blank"><i class="icon-zoo-logo"></i> Download the ZOO-Project font <i class="fa fa-external-link"></i></a></p>
<p>
<p class="sp"><i class="fa fa-code"></i> HTML</p>
<pre class="language-markup"><code>&lt;i class="zoo-ZOO-Font"/&gt;&lt;/i&gt;</code></pre>
</p>
   </div>
    <div class="col-xs-3 col-sm-3 col-lg-8 text-center">
<p class="sp"><i class="fa  fa-css3"></i> CSS</p>
<pre class="language-css"><code>@font-face {
	font-family: 'ZOO-Font';
	src:url('fonts/ZOO-Font.eot');
	src:url('fonts/ZOO-Font.eot') format('embedded-opentype'),
		url('fonts/ZOO-Font.ttf') format('truetype'),
		url('fonts/ZOO-Font.woff') format('woff'),
		url('fonts/ZOO-Font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
}

[class^="zoo-"], [class*=" zoo-"] {
	font-family: 'ZOO-Font';
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.zoo-ZOO-Font:before {
	content: "\e603";
}</code></pre>
   </div>

   <div class="col-xs-12 col-sm-12 col-lg-12">
<hr class="mbp">
</div>



    <div class="col-xs-12 col-sm-4 col-lg-4">
   <h2 class="st"><i class="fa fa-qrcode"></i> ZOO QR codes</h2>
   <p class="sp">The following QR Codes all encrypt <a href="http://zoo-project.org">http://zoo-project.org</a> and should open that URL when scanned with an appropriate mobil device.</p>
   </div>
   <div class="col-xs-12 col-sm-8 col-lg-8">

<div class="row">

  <div class="col-xs-6 col-md-3">
    <a href="//www.geolabs.fr/cgi-bin/zoo_loader.cgi?service=WPS&version=1.0.0&request=Execute&Identifier=QREncode&DataInputs=size=16;bgcolor=FFFFFF;fgcolor=663e05;Text=http://zoo-project.org&RawDataOutput=QR" class="thumbnail thumbnailw" target="_blank">
<img src="//www.geolabs.fr/cgi-bin/zoo_loader.cgi?service=WPS&version=1.0.0&request=Execute&Identifier=QREncode&DataInputs=size=4;bgcolor=FFFFFF;fgcolor=663e05;Text=http://zoo-project.org&RawDataOutput=QR" alt="ZOO-Project QRCode">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="//www.geolabs.fr/cgi-bin/zoo_loader.cgi?service=WPS&version=1.0.0&request=Execute&Identifier=QREncode&DataInputs=size=16;bgcolor=FFFFFF;fgcolor=9c8a71;Text=http://zoo-project.org&RawDataOutput=QR" class="thumbnail thumbnailw" target="_blank">
<img src="//www.geolabs.fr/cgi-bin/zoo_loader.cgi?service=WPS&version=1.0.0&request=Execute&Identifier=QREncode&DataInputs=size=4;bgcolor=FFFFFF;fgcolor=9c8a71;Text=http://zoo-project.org&RawDataOutput=QR" alt="FOSS4G-E 2015 QRCode">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="//www.geolabs.fr/cgi-bin/zoo_loader.cgi?service=WPS&version=1.0.0&request=Execute&Identifier=QREncode&DataInputs=size=16;bgcolor=FFFFFF;fgcolor=fc9501;Text=http://zoo-project.org&RawDataOutput=QR" class="thumbnail thumbnailw" target="_blank">
<img src="//www.geolabs.fr/cgi-bin/zoo_loader.cgi?service=WPS&version=1.0.0&request=Execute&Identifier=QREncode&DataInputs=size=4;bgcolor=FFFFFF;fgcolor=fc9501;Text=http://zoo-project.org&RawDataOutput=QR" alt="FOSS4G-E 2015 QRCode">
    </a>
  </div>

  <div class="col-xs-6 col-md-3">
    <a href="//www.geolabs.fr/cgi-bin/zoo_loader.cgi?service=WPS&version=1.0.0&request=Execute&Identifier=QREncode&DataInputs=size=16;bgcolor=FFFFFF;fgcolor=fcbe01;Text=http://zoo-project.org&RawDataOutput=QR" class="thumbnail thumbnailw" target="_blank">
<img src="//www.geolabs.fr/cgi-bin/zoo_loader.cgi?service=WPS&version=1.0.0&request=Execute&Identifier=QREncode&DataInputs=size=4;bgcolor=FFFFFF;fgcolor=fcbe01;Text=http://zoo-project.org&RawDataOutput=QR" alt="FOSS4G-E 2015 QRCode">
    </a>
  </div>
<hr class="mbp">
</div>
</div>

   <div class="col-xs-12 col-sm-12 col-lg-12">
<hr class="mbp">
</div>

 <div class="col-xs-12 col-sm-4 col-lg-4">
   <h2 class="st"><i class="fa fa-pencil"></i> Citing ZOO-Project</h2>
   <p class="sp">Thank you for citing <a href="http://zoo-project.org">ZOO-Project</a> in your work or research and link back to our website.</p>

<p class="bg-success pad green"><i class="fa fa-smile-o" ></i> Write <b>ZOO-Project</b> to cite ZOO-Project</p>
<p class="bg-danger pad red"><i class="fa fa-warning" ></i> Don't write <i>ZOO</i>, <i>Zoo</i>, <i>ZOO project</i> or <i>Zoo WPS</i> to cite ZOO-Project !</p>


   </div>
    <div class="col-xs-12 col-sm-8 col-lg-8 mbp">
<p class="sp"><i class="fa fa-newspaper-o"></i> <a href="http://link.springer.com/article/10.1007%2Fs12518-011-0070-0" target="_blank"> ZOO-Project: The open WPS platform <i class="fa fa-external-link"></i></a>
<p class="sp">BibTeX</p>
<pre class="latex"><code>@article{
year={2013},
issn={1866-9298},
journal={Applied Geomatics},
volume={5},
number={1},
title={ZOO-Project: the open WPS platform},
publisher={Springer-Verlag},
keywords={WPS, OGC, ZOO-Project, OSGeo},
author={Fenoy G, Bozon N and Raghavan V},
pages={19-24},
language={English}
}</code>
</pre>

   </div>
</div>
</div>
</div>

<div class="paper">
 <div class="container">
  <div class="row tserv">
   <div class="col-md-12 text-center">
<div class="well text-center mtpm">
         <h2 class="ccic">C <span>cba</span></h2>
         <p class="spg">This material is released under the Creative Commons Attribution-ShareAlike 4.0 International Public License (<a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">CC-BY-SA</a>).</p>
        </div>
</div>
</div>
</div>
</div>

<div class="bblocks">
 <div class="container">
  <div class="row tserv">
   <div class="col-md-12 text-center">
      <h1 class="stw"><a href="/docs/contribute/"> Get involved !</a></h1>
     </div>
   </div>
</div>
</div>
<script>
$('[data-toggle="tooltip"]').tooltip();
$('.navbar-lower').affix({offset: {top: 60}});	

$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});
</script>
{{ end }}