{{ define "main" }}
<div class="subn">
<nav class="navbar navbar-lower" role="navigation">
<div class="container">
   <ol class="breadcrumb zbr">
  <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
   <li class="active">ZOO-Project</li>
   <li class="active">ZOO-Tribe</li>
   </ol>
   <ul class="list-inline pull-right topr">
    <li><a href="https://github.com/ZOO-Project/ZOO-Project/" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a></li>
    <li><a href="https://www.openhub.net/p/zoo-project" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Openhub"><span class="fa fa-circle-o"></span></a></li>
   </ul>
</div>
</nav>
</div>
</nav>
<div class="zoo-default">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-title "><i class="fa fa-users bfs"></i></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-10 text-center">	
      <h1 class="section-heading">ZOO Tribe</h1>
      <h2 class="sub-heading">ZOO-Project community</h2>
      <div class="well well well-heading">
	<p class="intnp">The <b>ZOO Tribe</b> is the <a href="/">ZOO-Project</a> community gathering a growing number of users and developers distributed worldwide. It is mostly composed of GIS experts, programmers and researchers building the ZOO ecosystem. The ZOO Tribe is a <b>public</b> and <b>democratic</b> group open to anybody interested in WPS or related topics.</p>
      </div>
    </div>
  </div>
</div>

<div class="bblocks">
 <div class="container">
  <div class="row zserv">
   <div class="col-md-12 text-center">
      <h2>ZOO Tribal Council</h2>  
     </div>
   </div>
</div>
</div>

  <div class="zoo-content-npb">
    <div class="container">
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-6">
     <h2 class="st">Project Steering Committee</h2>
     <p class="sp"><b>ZOO Tribal Council</b> (ZTC) is the <a href="http://zoo-project.org">ZOO-Project</a> steering committee.</p>
     <p class="sp"> ZTC manges the open source software project according to a documented process. ZTC is chaired by <b>Gérald FENOY</b>. </p>
     <p class="sp">ZTC members are listed here by alphabetical order.</p>  
     <hr>
   <div class="alert alert-warning" role="alert">
   <div class="row">
    <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-smtitle "><i class="fa fa-users"></i></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-10 ">	
ZOO Tribal Council members act on their own. 
Their decisions and actions do not reflect those from their employer or organization.
</div> 
</div>
</div>
</div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
<table class="table table-condensed">
<thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Organization</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nicolas</td>
            <td>BOZON</td>
            <td><a href="https://www.klokantech.com/" target="_blank">Klokan Technologies GmbH</a></td>
            <td><img src="../../images/flags/fr.png"> <span class="hidden-xs">FRANCE</span></td>
        </tr>
        <tr>
            <td>Fabrice</td>
            <td>BRITO</td>
            <td><a href="https://www.terradue.com/" target="_blank">Terradue</a></td>
            <td><img src="../../images/flags/it.png"> <span class="hidden-xs">ITALY</span></td>
        </tr>
        <tr>
            <td>Gérald</td>
            <td>FENOY</td>
            <td><a href="http://geolabs.fr" target="_blank">GeoLabs</a></td>
            <td><img src="../../images/flags/fr.png"> <span class="hidden-xs">FRANCE</span></td>
        </tr>
        <tr>
            <td>Jeff</td>
            <td>McKENNA</td>
            <td><a href="http://www.gatewaygeomatics.com/" target="_blank">Gateway Geomatics</a></td>
            <td><img src="../../images/flags/ca.png"> <span class="hidden-xs">CANADA</span></td>
        </tr>
        <tr>
            <td>Venkatesh</td>
            <td>RAGHAVAN</td>
            <td><a href="http://www.osaka-cu.ac.jp/ja" target="_blank">Osaka City University</a></td>
            <td><img src="../../images/flags/jp.png"> <span class="hidden-xs">JAPAN</span></td>
        </tr>
        <tr>
            <td>Rajat</td>
            <td>SHINDE</td>
            <td><a href="https://www.csre.iitb.ac.in/" target="_blank">IIT Bombay</a></td>
            <td><img src="../../images/flags/in.png"> <span class="hidden-xs">INDIA</span></td>
        </tr>
        <tr>
            <td>Angelos</td>
            <td>TZOTSOS</td>
            <td><a href="http://www.ntua.gr/" target="_blank">National Technical University of Athens</a></td>
            <td><img src="../../images/flags/gr.png"> <span class="hidden-xs">GREECE</span></td>
        </tr>
    </tbody>
</table>
</div>
</div>




</div>
</div>

<div class="bblocks">
 <div class="container">
  <div class="row zserv">
   <div class="col-md-12 text-center">
      <h2>ZOO Keepers</h2>  
     </div>
   </div>
</div>
</div>

  <div class="container">

    <div class="row">

    <div class="col-xs-12 col-sm-6 col-lg-6 ">


   <h2 class="st">ZOO Developers</h2>
<p class="sp">ZOO developers are building, maintaining and enhancing the ZOO-Project software components using their knowledge and commit privileges.</p>
<p class="sp">Any individual can become a certified ZOO developer, after related nomination and approval by vote from ZTC.</p>
<p class="sp">ZOO Developers are listed here by alphabetical order.</p>  


<hr>

   <div class="alert alert-warning" role="alert">
<div class="row">
 <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-smtitle "><i class="fa fa-users"></i></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-10 ">	
ZOO Developers act on their own. 
Their decisions and actions do not reflect those from their employer or organization.
</div> 
</div>
</div>
</div>

    <div class="col-xs-12 col-sm-6 col-lg-6">
<table class="table tabled table-condensed mtp mbp ">
<thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Organization</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nicolas</td>
            <td>BOZON</td>
            <td><a href="https://www.klokantech.com/" target="_blank">Klokan Technologies GmbH</a></td>
            <td><img src="../../images/flags/fr.png"> <span class="hidden-xs">FRANCE</span></td>
        </tr>
        <tr>
            <td>Trevor</td>
            <td>CLARKE</td>
            <td><a href="http://www.ballaerospace.com/" target="_blank">Ball Aerospace</a></td>
            <td><img src="../../images/flags/us.png"> <span class="hidden-xs">USA</span></td>
        </tr>
        <tr>
            <td>Luca</td>
            <td>DELUCCHI</td>
            <td><a href="http://www.fmach.it/" target="_blank">Fondazione Edmund Mach</a></td>
            <td><img src="../../images/flags/it.png"> <span class="hidden-xs">ITALY</span></td>
        </tr>
        <tr>
            <td>René-Luc</td>
            <td>D'HONT</td>
            <td><a href="http://3liz.com" target="_blank">3liz</a></td>
            <td><img src="../../images/flags/fr.png"> <span class="hidden-xs">FRANCE</span></td>
        </tr>
        <tr>
            <td>Gérald</td>
            <td>FENOY</td>
            <td><a href="http://geolabs.fr" target="_blank">GeoLabs</a></td>
            <td><img src="../../images/flags/fr.png"> <span class="hidden-xs">FRANCE</span></td>
        </tr>
        <tr>
            <td>Knut</td>
            <td>LANDMARK</td>
            <td><a href="http://www.ffi.no/en/Sider/default.aspx" target="_blank">Norwegian Defence Research</a></td>
            <td><img src="../../images/flags/no.png"> <span class="hidden-xs">NORWAY</span></td>
        </tr>
        <tr>
            <td>Jeff</td>
            <td>McKENNA</td>
            <td><a href="http://www.gatewaygeomatics.com/" target="_blank">Gateway Geomatics</a></td>
            <td><img src="../../images/flags/ca.png"> <span class="hidden-xs">CANADA</span> </td>
        </tr>
        <tr>
            <td>Marco</td>
            <td>NEGRETTI</td>
            <td><a href="http://polimi.it" target="_blank">Politecnico di Milano</a></td>
            <td><img src="../../images/flags/it.png"> <span class="hidden-xs">ITALY</span></td>
        </tr>
        <tr>
            <td>Markus</td>
            <td>NETELER</td>
            <td><a href="http://www.mundialis.de" target="_blank">Mundialis</a></td>
            <td><img src="../../images/flags/de.png"> <span class="hidden-xs">GERMANY</span></td>
        </tr>
        <tr>
            <td>David</td>
            <td>SAGGIORATO</td>
            <td><a href="#" target="_blank">Cleolys</a></td>
            <td><img src="../../images/flags/fr.png"> <span class="hidden-xs">FRANCE</span></td>
        </tr>
        <tr>
            <td>Angelos</td>
            <td>TZOTSOS</td>
            <td><a href="http://www.ntua.gr/" target="_blank">National Technical University of Athens</a></td>
            <td><img src="../../images/flags/gr.png"> <span class="hidden-xs">GREECE</span></td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>

<div class="bblocks">
 <div class="container">
  <div class="row tserv">
   <div class="col-md-12 text-center">
      <h1 class="stw"><a href="/docs/contribute/">Get involved !</a></h1>
     </div>
   </div>
</div>
</div>

{{ end }}