body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: "Trebuchet MS",Georgia,"Times New Roman",Times,serif;
    text-align: justify;
    color: #333;
}

h1,h2 {
    margin: 0;
    font-weight: normal;
}

h1 {
    letter-spacing: -1px;
    font-size: 1.4em;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 16px;
    color: #fc8e01;
    font-family: georgia;
}

p,ul,ol {
    margin: 0 0 10px 1em;
    text-align: justify;
    line-height: 26px;
}

input,textarea {
    border: 1px solid orange;
}

a:link {
    color: #fc8e01;
}

a:hover,a:active {
    text-decoration: none;
    color: #fc8e01;
}

a:visited {
    color: #fc8e01;
}

img {
    border: none;
}

img.left {
    float: left;
    margin-right: 15px;
}

img.right {
    float: right;
    margin-left: 15px;
}

#wrapper {
    margin: 0;
    padding: 0;
    background: #333;
}

#header {
    width: 900px;
    margin: 0 auto;
    height: 28px;
}

#logo {
    width: 900px;
    height: 200px;
    margin: 0 auto;
    background: url(img/jungle.png) no-repeat right;
}

#logo img {
    margin-top: 10px;
    float: left;
}

#logo h1 {
    clear: left;
    padding: 10px;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 26px;
    letter-spacing: 2px;
    color: #663e05;
    font-weight: bold;
}

#logo h1 a {
    text-decoration: none;
}

#logo h1 a:hover {
    text-decoration: underline;
}

#logo h2 {
    float: left;
    padding: 45px 0 0 18px;
    font: 18px Georgia,"Times New Roman",Times,serif;
    color: #8BD80E;
}

#logo p a {
    text-decoration: none;
    color: #8BD80E;
}

#logo p a:hover {
    text-decoration: underline;
}

#page {
    width: 880px;
    margin: 0 auto;
    background: #FFF;
    color: #333;
}

#content {
    float: left;
}

#map {
    width: 580px;
    height: 480px;
    border: 1px solid orange;
}

.label {
    padding: 2px;
    margin: 0;
    font-size: .7em;
    text-align: center;
}

.wiki,.post,.post .wiki {
    padding: 5px;
    margin: 0;
}

.wiki p,.post p, .post .wiki p {
    padding: 0;
    margin-bottom: 10px;
}

.wiki.title,.post.title, .post .wiki.title {
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.wiki h1,.post h1,.post .wiki h1 {
    padding: 0;
    font-family: "Times New Roman",Times,serif;
    font-size: 26px;
    letter-spacing: 1px;
    margin-top: 10px;
    color: #663e05;
}

.wiki h2,.post h2,.post .wiki h2 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: #333;
}

.wiki h3,.post h3, .post .wiki h3 {
    font-size: 16px;
    color: #fc8e01;
    font-family: georgia;
    margin-top: 0;
}

.wiki .entry,.post .entry, .post .wiki .entry {
    margin: 0;
    padding: 0;
}

.wiki .entry span,.post .entry span, .post .wiki .entry span {
    float: right;
    dispaly: inline;
}

.wiki .entry span.mit,.post .entry span.mit, .post .wiki .entry span.mit {
    float: left;
    display: block;
}

.wiki .entry p.preElement,.post .entry p.preElement,.post .wiki .entry p.preElement {
    background: #E0E0E0;
    font-family: Terminal,monospace;
    font-size: .9em;
    padding: 10px;
    text-align: left;
}

.wiki .meta,.post .meta, .post .wiki .meta {
    padding: 0 15px 10px 0;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
}

.wiki .meta p,.post .meta p, .post .wiki .meta p {
    margin: 0;
    padding-top: 15px;
    line-height: normal;
    color: #FFF;
}

.wiki .meta .byline,.post .meta .byline, .post .wiki .meta .byline {
    float: left;
    color: orange;
    padding: 0;
    padding-left: 20px;
    font-size: 12px;
}

.wiki .meta .links, .post .meta .links, .post .wiki .meta .links {
    float: right;
}

.wiki .meta .more,.post .meta .more, .post .wiki .meta .more {
    padding: 0;
}

.wiki .meta b,.post .meta b, .post .wiki .meta b {
    display: none;
}

#sidebar {
    width: 260px;
    float: right;
    margin: 0;
    padding: 20px 0;
}

img.sidebar_logo {
    margin-bottom: 5px;
}

.news {
    width: 240px;
    height: 380px;
    margin: 0;
    padding: 20px 0;
    background: url(img/bck-news.png) no-repeat;
}

.tools {
    width: 240px;
    height: 450px;
    margin: 0;
    padding: 10px 0 20px 0;
    background: url(img/bck-tools.png) repeat-x;
    -moz-border-radius-topleft: 15px;
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -moz-border-radius-bottomright: 15px;
    -webkit-border-bottom-left-radius: 15px;
    -webkit-border-bottom-right-radius: 15px;
    -webkit-border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
}

.tools p {
    padding: 5px;
    font-size: .8em;
    text-align: justify;
}

.tools h3 {
    font-size: 1em;
    color: #663e05;
    margin-left: 20px;
}

.tools ul li.buff {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.tools ul li.inlinebuttons {
    list-style: none;
    display: inline;
    padding: 0;
    margin: 0;
}

.tools ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.usage {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.usage li {
    text-indent: 20px;
    font-size: .8em;
}

input.button {
    width: 100px;
    height: 25px;
    background: url(img/bck-button.png) no-repeat;
    padding: 0;
    color: #FFF;
}

table.docConverter {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 590px;
    border: 1px solid orange;
}

.qrinput {
    width: 250px;
    height: 25px;
    background: transparent;
    border: 0;
    padding: 1px;
    background-image: url('img/searchbox.gif');
    background-repeat: no-repeat;
    font-size: 12px;
    color: #93897d;
}

.qrOK {
    width: 50px;
    cursor: pointer;
    height: 20px;
    margin: 0;
    border: 0;
    padding: 1px;
    text-align: center;
    background-image: url('img/okbutton.png');
    background-repeat: no-repeat;
    font-size: 12px;
    color: #333;
}

#twitter {
    width: 240px;
    height: 310px;
}

#twitter a {
    color: #707070;
}

.twitted {
    margin-bottom: 10px;
    background: #transparent;
    font-size: .9em;
}

.twitted p.preLoader {
    margin: 0 auto;
    height: 138px;
    background: url("img/loader.gif") no-repeat;
}

.twitted ul#twitter_update_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.twitted ul#twitter_update_list li {
    margin: 0;
    padding: 5px 10px 7px 10px;
    border-bottom: 0;
    line-height: 1.2em;
}

.twitted ul#twitter_update_list li span {
    display: block;
}

.twitted ul#twitter_update_list li span a {
    color: #663e05;
}

.twitted ul#twitter_update_list li a {
    color: #707070;
}

img.follow {
    text-align: bottom right;
}

.news ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 320px;
}

#sidebar h2 {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-family: "Times New Roman",Times,serif;
    font-size: 22px;
    letter-spacing: 1px;
    color: #663e05;
}

#search h2 {
    margin-bottom: 20px;
}

#s {
    width: 140px;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid #BED99C;
}

#x {
    padding: 3px;
    border: none;
    background: #8BD80E;
    text-transform: lowercase;
    font-size: 11px;
    color: #FFF;
}

.box1 {
    padding: 20px;
}

.box2 {
    color: #BABABA;
}

.box2 h2 {
    margin-bottom: 15px;
    font-size: 16px;
    color: #FFF;
}

.box2 ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box2 a:link,.box2 a:hover,.box2 a:active,.box2 a:visited {
    color: #EDEDED;
}

.both {
    clear: both;
    margin: 0 auto;
    width: 880px;
    height: 5px;
}

#footer {
    margin: 0 auto;
    padding: 0;
    background: #333 url("img/bgfooter.png") repeat-x;
    height: 300px;
}

#innerfooter {
    margin: 0 auto;
    width: 880px;
    height: 300px;
    padding: 0;
    background: #231501;
}

html>body #footer {
    height: auto;
}

.tribe {
    float: left;
    margin: 20px;
    width: 500px;
    height: 220px;
    background: url("img/bck-tribe.png") no-repeat;
}

.tribe h2,.know-partners h2 {
    color: #231501;
    padding: 10px 0 20px 15px;
    font-size: 17px;
}

.tribe img {
    padding: 0;
}

.know-partners {
    float: left;
    margin: 20px;
    width: 295px;
    height: 220px;
    background: url("img/bck-know.png") no-repeat;
}

#footer p {
    font-size: 12px;
}

#legal {
    clear: both;
    padding: 5px 0 0 0;
    margin: 0;
    text-align: center;
    color: orange;
}

#legal a {
    font-weight: normal;
    color: orange;
    text-decoration: none;
}

#legal a:hover {
    font-weight: normal;
    color: yellow;
    text-decoration: none;
}

form {
    margin: 0;
    padding: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    display: none;
}

input,textarea,select {
    font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
    font-size: 13px;
    color: #333;
}

.twitts,.donate {
    background: #ffcd0b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffcd0b');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffcd0b));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffffff, #ffcd0b);
    /* for firefox 3.6+ */
    width: 98%;
    height: 100px;
    margin-bottom: 1em;
    border: 0;
    padding: 1%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.donate {
    background: #ffcd0b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd0b', endColorstr='#ffffff');
    /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcd0b), to(#ffffff));
    /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffcd0b, #ffffff);
    /* for firefox 3.6+ */
}

.donate input {
    border: 0;
}
