<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      ZOO Project Trac
    </title>
        <link rel="search" href="/trac/search" />
        <link rel="help" href="/trac/wiki/TracGuide" />
        <link rel="alternate" href="/trac/wiki/WikiStart?format=txt" type="text/x-trac-wiki" title="Plain Text" />
        <link rel="start" href="/trac/wiki" />
        <link rel="stylesheet" href="/css/trac/trac.css" type="text/css" />
        <link rel="stylesheet" href="/css/trac/wiki.css" type="text/css" />
        <link rel="shortcut icon" href="http://svn.zoo-project.org/favicon.ico" type="image/x-icon" />
        <link rel="icon" href="http://svn.zoo-project.org/favicon.ico" type="image/x-icon" />
      <link type="application/opensearchdescription+xml" rel="search" href="/trac/search/opensearch" title="Search ZOO Project Trac" />
    <script type="text/javascript" src="/js/trac/jquery.js"></script>
    <script type="text/javascript" src="/js/trac/babel.js"></script>
    <script type="text/javascript" src="/js/trac/trac.js"></script>
    <script type="text/javascript" src="/js/trac/search.js">
    </script><script type="text/javascript" src="/js/trac/folding.js"></script>
    <!--[if lt IE 7]>
    <script type="text/javascript" src="/trac/chrome/common/js/ie_pre7_hacks.js"></script>
    <![endif]-->
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $("#content").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
      });
    </script>
    <link rel="stylesheet" href="/css/trac/wiki.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/css/trac/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/trac/main.css" />
    <script type="text/javascript">
    $(document).ready(function(){
$("link[href*='/trac/chrome/common/css/trac.css']").remove();
    $("#leftcolumn").find("h1,h2,h3,h4,h5,h6").addAnchor("Link to this section");
$("&gt;:header", $("#leftcolumn div.wikipage")).addEditlink("Edit this section");
    	$("ul.topnav li a").hover(function() {
		//Following events are applied to the subnav itself (moving subnav up and down)
		$(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click
		$(this).parent().hover(function() {
	}, function(){
		$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
	});
																		//Following events are applied to the trigger (Hover events for the trigger)
																				}).hover(function() {
																							$(this).addClass("subhover"); //On hover over, add class "subhover"
																									}, function(){	//On Hover Out
																												$(this).removeClass("subhover"); //On hover out, remove class "subhover"
																													});
																													});
																													</script>
  </head>
  <body>
 <div id="wrapper">
  <!-- start header -->
  <div id="header">
  	<div class="hleft">
		<h1 class="title">Open WPS platform</h1>
	</div>
	<div class="hright"></div>
	<div>
<ul class="topnav">
  <li><a href="/site/" shape="rect">Home</a></li>
  <!--
  <li><a href="#" shape="rect">ZOO Project</a>
       <ul class="subnav">
         <li><a href="/site/ZooWebSite/ZooProject/About" shape="rect">About</a></li>
         <li><a href="/site/ZooWebSite/ZooProject/Tribe" shape="rect">ZOO Tribe</a></li>
         <li><a href="/site/ZooWebSite/ZooProject/Events" shape="rect">Events</a></li>
         <li><a href="/site/ZooWebSite/ZooProject/Photos" shape="rect">Photos</a></li>
         <li><a href="/site/ZooWebSite/ZooProject/Contact" shape="rect">Contacts</a></li>
       </ul>
  </li>
  <li>
    <a href="#" shape="rect">Components</a>
    <ul class="subnav">
      <li><a href="/site/ZooWebSite/ZooKernel" shape="rect">ZOO Kernel</a></li>
      <li><a href="/site/ZooWebSite/ZooServices" shape="rect">ZOO Services</a></li>
      <li><a href="/site/ZooWebsite/ZooApi" shape="rect">ZOO API</a></li>
    </ul>
  </li>
  <li><a href="http://zoo-project.org/site/Downloads" shape="rect">Download</a></li>
  <li><a href="http://zoo-project.org/docs/" shape="rect">Docs</a></li>
  <li><a href="#" shape="rect">Demos</a>
    <ul class="subnav">
      <li><a href="/site/ZooWebSite/Demo/SpatialTools" shape="rect">ZOO Spatial Tools</a></li>
      <li><a href="/site/ZooWebSite/Demo/CGAL" shape="rect">ZOO CGAL Voronoï</a></li>
      <li><a href="/site/ZooWebSite/Demo/WFS-T" shape="rect">ZOO Mapserver WFS-T</a></li>
      <li><a href="/site/ZooWebSite/Demo/GdalProfile" shape="rect">ZOO Elevation Profile</a></li>
      <li><a href="/site/ZooWebSite/Demo/FormTools" shape="rect">ZOO Form tools</a></li>
    </ul>
  </li>
  <li><a href="/trac" shape="rect">Trac</a></li>
  -->
</ul>
</div>
  </div>
<!-- start page -->
<div id="faux">
    <div id="leftcolumn">
    <div id="menu">
      <ul class="subtopnav">
      <li class="default first active"><a href="/trac/wiki">Wiki</a></li><li class="default "><a href="/trac/timeline">Timeline</a></li><li class="default "><a href="/trac/roadmap">Roadmap</a></li><li class="default "><a href="/trac/browser">Browse Source</a></li><li class="default "><a href="/trac/report">View Tickets</a></li><li class="default "><a href="/trac/search">Search</a></li><li class="default last"><a href="/trac/doxygen">Doxygen</a></li>
    </ul>
    </div>
      <div class="post">
    <div id="trac_content" class="wiki">
      <div class="wikipage searchable">
        
          <p>
<br />
</p>
<h1 id="WelcometotheZOO-ProjectTrac">Welcome to the ZOO-Project Trac</h1>
<p>
<br />
ZOO is a WPS (Web Processing Service) open source project released under the <a class="wiki" href="/trac/wiki/Licence">MIT/X-11</a> license. It provides an OGC WPS compliant  developer-friendly framework to create and chain WPS webservices. 
</p>
<p>
The official homepage of the project is <a class="ext-link" href="http://zoo-project.org"><span class="icon">​</span>http://zoo-project.org</a>. 
</p>
<p>
The ZOO Trac is hosting ZOO Project source code in a community oriented system. Please feel free to <a href="/trac/register">Register</a>.
</p>
<h1 id="UsefullLinksonthisTrac">Usefull Links on this Trac</h1>
<ul><li><a class="wiki" href="/trac/wiki/Download">Download</a> the ZOO source code
</li><li><a href="/trac/register">Register</a> to the ZOO Trac
</li><li>Read the <a class="ext-link" href="http://zoo-project.org/docs/"><span class="icon">​</span>ZOO documentation</a>
</li><li><a class="wiki" href="/trac/wiki/Contact">Contact</a> section
</li></ul><h1 id="ZOOCommunity">ZOO Community</h1>
<ul><li>ZOO Project <a class="wiki" href="/trac/wiki/PSC">PSC</a>
</li><li>List of the ZOO Trac <a class="wiki" href="/trac/wiki/Users">Users</a>
</li></ul><h1 id="ZOOGoogleSummerofCodeIdeas">ZOO Google Summer of Code Ideas</h1>
<ul><li>ZOO_SoC_Ideas <a class="wiki" href="/trac/wiki/ZOO_SoC_Ideas">ZOO_SoC_Ideas</a>
</li></ul>
        
        
      </div>
    

    </div>
    <div id="altlinks">
      <h3>Download in other formats:</h3>
      <ul>
        <li class="last first">
          <a rel="nofollow" href="/trac/wiki/WikiStart?format=txt">Plain Text</a>
        </li>
      </ul>
    </div>
      </div>
      <div class="clear"></div>
    </div>
  <div id="rightcolumn">
     <div class="categories">
     <div>
<a href="http://zoo-project.org/trac/wiki/Downloads"><h1>Download now !</h1></a>
</div>
     </div>
     <div class="donate">
     <div>
<h1 id="SupportZOO-Project">Support ZOO-Project</h1><form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="text-align: center;"><div><input type="hidden" name="__FORM_TOKEN" value="ba33e9ba42331d8d80c0a2e5" /></div>
<input type="hidden" name="cmd" value="_s-xclick" />
<input type="hidden" name="hosted_button_id" value="WTHKTUQBHBHSQ" />
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" style="border:0" />
<img alt="Project-Id-Version: Trac 0.12
Report-Msgid-Bugs-To: trac-dev@googlegroups.com
POT-Creation-Date: 2013-01-27 11:21+0900
PO-Revision-Date: 2010-07-19 23:05+0200
Last-Translator: Jeroen Ruigrok van der Werven &lt;asmodai@in-nomine.org&gt;
Language-Team: en_US &lt;trac-dev@googlegroups.com&gt;
Plural-Forms: nplurals=2; plural=(n != 1)
MIME-Version: 1.0
Content-Type: text/plain; charset=utf-8
Content-Transfer-Encoding: 8bit
Generated-By: Babel 1.3
" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
</form>
</div>
     </div>
     <div class="rblock">
      <h1>Search</h1>
      <form action="/trac/search" method="get">
        <fieldset>
         <input type="text" id="proj-search" name="q" size="18" value="" />
          <input type="submit" value="Search" />
        </fieldset>
      </form>
     </div>
     <div class="rblock">
	  <h2>Context Navigation</h2>
          <ul>
              <li><a href="/trac/wiki/WikiStart">Start Page</a></li><li><a href="/trac/wiki/TitleIndex">Index</a></li><li><a href="/trac/wiki/WikiStart?action=history">History</a></li>
          </ul>
     </div>
     <div class="rblock">
	  <h2>Main Navigation</h2>
       	<ul>
      	  <li><a href="/trac/login">Login</a></li><li><a href="/trac/wiki/TracGuide">Help/Guide</a></li><li><a href="/trac/about">About Trac</a></li><li><a href="/trac/prefs">Preferences</a></li><li><a href="/trac/register">Register</a></li>
        </ul>
     </div>
     <div class="rblock">
        <div>
<h1 id="ZOOSponsors">ZOO Sponsors</h1><p>
<a style="padding:0; border:none" href="http://www.geolabs.fr"><img src="http://www.zoo-project.org/trac/chrome/site/img/geolabs-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/geolabs-logo.png" title="GeoLabs SARL" /></a><a style="padding:0; border:none" href="http://www.neogeo-online.net"><img src="http://www.zoo-project.org/trac/chrome/site/img/neogeo-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/neogeo-logo.png" title="Neogeo Technologies" /></a>
<a style="padding:0; border:none" href="http://www.cartogenic.com"><img src="../../images/trac/cartogenic-logo.png" title="Cartogenic" /></a>
<a style="padding:0; border:none" href="http://www.apptec.co.jp/"><img src="http://www.zoo-project.org/trac/chrome/site/img/apptech-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/apptech-logo.png" title="Applied Technologies" /></a>
<a style="padding:0; border:none" href="http://www.3liz.com"><img src="http://www.zoo-project.org/trac/chrome/site/img/3liz-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/3liz-logo.png" title="3LIZ SARL" /></a>
<a style="padding:0; border:none" href="http://www.gatewaygeomatics.com/"><img src="http://www.zoo-project.org/trac/chrome/site/img/gateway-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/gateway-logo.png" title="Gateway Geomatics" /></a>
</p><p>
<a href="/trac/../site/Sponsorship">Become a sponsor !</a>
</p>
</div>
     </div>
     <div class="rblock">
     	<div>
<h1 id="Knowledgepartners">Knowledge partners</h1><p>
<a style="padding:0; border:none" href="http://www.osaka-cu.ac.jp/index-e.html"><img src="http://www.zoo-project.org/trac/chrome/site/img/ocu-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/ocu-logo.png" title="Osaka City University" /></a>
<a style="padding:0; border:none" href="http://www.gucas.ac.cn/gscasenglish/index.aspx"><img src="http://www.zoo-project.org/trac/chrome/site/img/gucas-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/gucas-logo.png" title="Gucas" /></a>
<a style="padding:0; border:none" href="http://geomatica.como.polimi.it/"><img src="http://www.zoo-project.org/trac/chrome/site/img/polimi-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/polimi-logo.png" title="Politecnico di Milano" /></a>
<a style="padding:0; border:none" href="http://www.fondazioneedmundmach.it/"><img src="http://www.zoo-project.org/trac/chrome/site/img/fem-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/fem-logo.png" title="Fondazione Edmund Mach" /></a>
<a style="padding:0; border:none" href="http://www.supsi.ch/home.html"><img src="http://www.zoo-project.org/trac/chrome/site/img/supsi-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/supsi-logo.png" title="SUPSI" /></a>
<a style="padding:0; border:none" href="http://www.cumtb.edu.cn/"><img src="http://www.zoo-project.org/trac/chrome/site/img/cumtb-logo.png" alt="http://www.zoo-project.org/trac/chrome/site/img/cumtb-logo.png" title="CUMTB" /></a>
</p><p>
<a href="/trac/../site/ZooWebSite/BecomeKnowledgePartner">Become a knowledge partner</a>
</p>
</div>
     </div>
     <div class="rblock">
     <div>
<h1 id="Relatedlinks">Related links</h1><p>
<a style="padding:0; border:none" href="http://www.opengeospatial.org/" shape="rect"><img src="http://zoo-project.org/img/ogclogo.png" alt="http://zoo-project.org/img/ogclogo.png" title="OSGeo" /></a>
<a style="padding:0; border:none" href="http://www.osgeo.org/" shape="rect"><img src="http://zoo-project.org/img/osgeologo.png" alt="http://zoo-project.org/img/osgeologo.png" title="OGC" /></a>
</p>
</div>
     </div>
     <div class="clear"></div>
    </div>
    	<!-- end sidebar -->
</div>
</div>
    <div id="footer">
    	      <div>
<div>
  <div class="menuContainer">
    <div class="menuItemList">
      <a href="/site/" shape="rect">Home</a>
      <br />
    </div>
    <div class="menuItemList">
      <a href="#" shape="rect">ZOO Project</a>
      <br />
      <a href="/site/ZooWebSite/ZooProject/About" shape="rect">About</a>
      <br />
      <a href="/site/ZooWebSite/ZooProject/Tribe" shape="rect">ZOO Tribe</a>
      <br />
      <a href="/site/ZooWebSite/ZooProject/Events" shape="rect">Events</a>
      <br />
      <a href="/site/ZooWebSite/ZooProject/Photos" shape="rect">Photos</a>
      <br />
      <a href="/site/ZooWebSite/ZooProject/Contact" shape="rect">Contacts</a>
      <br />
    </div>
    <div class="menuItemList">
      <a href="#" shape="rect">Components</a>
      <br />
      <a href="/site/ZooWebSite/ZooKernel" shape="rect">ZOO Kernel</a>
      <br />
      <a href="/site/ZooWebSite/ZooServices" shape="rect">ZOO Services</a>
      <br />
      <a href="/site/ZooWebsite/ZooApi" shape="rect">ZOO API</a>
      <br />
    </div>
    <div class="menuItemList">
      <a href="/site/ZooWebSite/ZooKernel/Download" shape="rect">Download</a>
      <br />
    </div>
    <div class="menuItemList">
      <a href="/site/ZooDocumentation" shape="rect">Docs</a>
      <br />
    </div>
    <div class="menuItemList">
      <a href="#" shape="rect">Demos</a>
      <br />
      <a href="/site/ZooWebSite/Demo/SpatialTools" shape="rect">ZOO Spatial Tools</a>
      <br />
      <a href="/site/ZooWebSite/Demo/WFS-T" shape="rect">ZOO Mapserver WFS-T</a>
      <br />
      <a href="/site/ZooWebSite/Demo/GdalProfile" shape="rect">ZOO Elevation Profile</a>
      <br />
      <a href="/site/ZooWebSite/Demo/FormTools" shape="rect">ZOO Form tools</a>
      <br />
    </div>
    <div class="menuItemList">
      <a href="/trac" shape="rect">Trac</a>
      <br />
    </div>
  </div>
  <br style="clear:both" />
</div>
</div>
              <p>© copyright 2009 - 2010 - <a href="http://www.zoo-project.org">ZOO Project</a> - All Rights Reserved. </p>
    </div>
  </body>
</html>