{{ define "main" }}
<div class="subn">
<nav class="navbar navbar-lower" role="navigation">
<div class="container">
   <ol class="breadcrumb zbr">
  <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
   <li class="active">Code</li>
   <li class="active">ZOO-Services</li>
   </ol>
   <ul class="list-inline pull-right topr">
    <li><a href="https://github.com/ZOO-Project/ZOO-Project/" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a></li>
    <li><a href="https://www.openhub.net/p/zoo-project" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Openhub"><span class="fa fa-circle-o"></span></a></li>
   </ul>
</div>
</nav>
</div>
</nav>

<div class="zoo-default">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-title "><img src="../../images/zoo-pinguin.png" class="img-responsive circ"/></span>
    </div>
    <div class="col-xs-12 col-sm-10 col-lg-10 text-center">	
      <h1 class="section-heading">ZOO-Services</h1>
      <h2 class="sub-heading">500+ Ready to use WPS services</h2>
      <div class="well well well-heading">
	<p class="intnp"><b>ZOO-Services</b> is a growing collection of ready to use <b>Web Processing Services</b> built on top of reliable open source libraries such as <a href="http://gdal.org" target="_blank">GDAL</a>, <a href="http://www.cgal.org/" target="_blank">CGAL</a>, <a href="http://grass.osgeo.org" target="_blank">GRASS GIS</a>, <a href="https://www.orfeo-toolbox.org/" target="_blank">OrfeoToolbox</a>, <a href="http://www.saga-gis.org/">SAGA GIS</a>  and more. It aims at using existing geospatial algorithms through standard WPS, and provides a number of significant examples to build your own.</p>
      </div>
    </div>
  </div>
</div>

<div class="cblock">
 <div class="container">
  <div class="row zserv">
   <div class="col-md-2 col-xs-6 text-center">
      <h3>GDAL based</h3>
      <img class="img-responsive img-circle center-block" src="../../images/zoo-gdal.png" width="150" height="150" alt="GDAL" />
   </div>
   <div class="col-md-2 col-xs-6 text-center">
      <h3>GRASS based</h3>
      <img class="img-responsive img-circle center-block" src="../../images/zoo-grass.png" width="150" height="150" alt="GRASS GIS" />
   </div>
   <div class="col-md-2 col-xs-6 text-center">
      <h3>CGAL based</h3>
      <img class="img-responsive img-circle center-block" src="../../images/zoo-cgal.png" width="150" height="150" alt="CGAL" />
   </div>
   <div class="col-md-2 col-xs-6 text-center">
      <h3>OTB based</h3>
      <img class="img-responsive img-circle center-block" src="../../images/zoo-orfeo.png" width="150" height="150" alt="Orfeo Toolbox" />
   </div>
   <div class="col-md-2 col-xs-6 text-center">
      <h3>SAGA based</h3>
      <img class="img-responsive img-circle center-block" src="../../images/zoo-saga.png" width="150" height="150" alt="SAGA GIS" />
   </div>
<div class="col-md-2 col-xs-6 text-center">
<h3> </h3>
     <div class="text-center mtp">
      <h3 class="spms">What's next ?</h3>
     </div>
   </div>
</div>
</div>
</div>

<div class="dblock">
  <div class="container mbpp">
    <div class="col-lg-12 text-center">
      <h1 class="content-heading">Build your own</h1>
    </div>
    <div class="col-md-5 text-center">
              <span class="cyp"><i class="fa fa-file-text-o fa-5x"></i></span>
              <div class="caption text-center">
                <h3 class="spms">configuration file</h3>
                <p class="intnp text-center">Edit a configuration file (<a href="https://zoo-project.github.io/docs/services/zcfg-reference.html">.zcfg</a>) that describes the targeted WPS Service with simple metadata information.</p>         
            </div>
    </div>
    <div class="col-md-2 text-center">
          <span class="cyp"><i class="fa fa-plus fa-3x mtp"></i></span>
    </div>
    <div class="col-md-5 text-center">
              <span class="cyp"><i class="fa fa-file-code-o fa-5x"></i></span>
              <div class="caption text-center">
               <h3 class="spms">source code</h3>
                <p class="intnp text-center">Bring new or existing code to execute as WPS, using the programming <a href="https://zoo-project.github.io/docs/kernel/what.html#polyglot">language</a> of your choice. </p>         
            </div>
  </div>
</div>

<div class="bblockb">
  <h1 class="section-heading-w">Hello world</h1>
  <div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
        <div class="list-group">                
                <a href="#" class="list-group-item list-group-item2 active text-center">
		<img src="../../images/zoo-monkey.png" class="img-responsive circb center-block mb" width="32" height="32"/>JavaScript
                </a>
		<a href="#" class="list-group-item list-group-item2 text-center">
                  <img src="../../images/zoo-snake.png" class="img-responsive circb center-block mb" width="32" height="32"/>Python
                </a>
                <a href="#" class="list-group-item list-group-item2 text-center">
                 	    <img src="../../images/zoo-java.png" class="img-responsive circb center-block mb" width="32" height="32"/>Java
                </a>
                <a href="#" class="list-group-item list-group-item2 text-center">
                 	    <img src="../../images/zoo-elephant.png" class="img-responsive circb center-block mb" width="32" height="32"/>PHP
                </a>
</div>
</div>

<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">

<!-- JS section -->
<div class="bhoechie-tab-content active">
<center>
<h3>JavaScript</h3>
<pre class="language-javascript">
<code>function hellojs(conf,inputs,outputs){
  outputs["result"]["value"]="Hello "+inputs["S"]["value"]+" from the JS World !";
  //SERVICE_SUCEEDED
  return Array(3,outputs);
}</code>
</pre>
</center>
</div>
		
<!-- Python section -->
<div class="bhoechie-tab-content">
<center>
<h3>Python</h3>
<pre class="language-python">
<code>import zoo
def HelloPy(conf,inputs,outputs):
    outputs["Result"]["value"]="Hello "+inputs["a"]["value"]+" from Python World !"
    return zoo.SERVICE_SUCCEEDED
</code>
</pre>
</center>
</div>
  
<!--Java section -->
<div class="bhoechie-tab-content">
<center>
<h3>Java</h3>
<pre class="language-java">
<code>import java.lang.*;
import java.util.*;
	public class HelloJava {
	    public static int HelloWorldJava(HashMap conf,HashMap inputs, HashMap outputs) {
	        HashMap tmp=(HashMap)(inputs.get("S"));
	        String v=tmp.get("value").toString();
	        HashMap hm1 = (HashMap)(outputs.get("Result"));
	        hm1.put("value",ZOO._("Hello "+v+" from JAVA World !!"));
	        return ZOO.SERVICE_SUCCEEDED;
	    }
	}
</code>
</pre>
</center>
</div>

<!--PHP section -->
<div class="bhoechie-tab-content">
<center>
<h3>PHP</h3>
<pre class="language-php">
<code>function HelloPHP(&$main_conf,&$inputs,&$outputs){
	  $tmp="Hello ".$inputs["S"]["value"]." from the PHP world !!";
	  $outputs["Result"]["value"]=zoo_Translate($tmp);
	  zoo_UpdateStatus($main_conf,"Final step",99);
	  return zoo_SERVICE_SUCCEEDED();
	}
</code>
</pre>
 </center>
</div>


</div>
</div>
</div>

</div>
</div>
<script>
$(function(){
var shrinkHeader = 80;
$(window).scroll(function() {
	var scroll = getCurrentScroll();
	if ( scroll >= shrinkHeader ) {
		$('.navbar-brand').addClass('navbar-shrink');
		$('.navbar-inverse').addClass('navbar-colored');
		$('.navbar-nav').css({"margin":"0 0 0 15px"});
		$(".sun").show();
	$('.navbar-lower').addClass('navbarlower-colored');
	
	}
	else{
		$('.navbar-brand').removeClass('navbar-shrink');
		$('.navbar-inverse').removeClass('navbar-colored');
		$('.navbar-nav').css({"margin":"25px 0 0 25px"});
		$(".sun").hide();
		$('.navbar-lower').removeClass('navbarlower-colored');
	
	}
});
function getCurrentScroll() {
	return window.pageYOffset;
	}
});





$(document).ready(function () {
    $("div.bhoechie-tab-menu a").click(function (e) {
        e.preventDefault();

        
        $("div.bhoechie-tab-menu a").removeClass("active");
        $(this).addClass("active");

        var index = $(this).parent().children().index(this);

        $(".bhoechie-tab-content").removeClass("active").hide();
        $(".bhoechie-tab-content").eq(index).addClass("active").show();
    });

    $(".bhoechie-tab-content").hide();
    $(".bhoechie-tab-content").first().addClass("active").show();
});

</script>
{{ end }}