{{ define "main" }}
<div class="subn">
<nav class="navbar navbar-lower" role="navigation">
<div class="container">
   <ol class="breadcrumb zbr">
  <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
   <li class="active">Resources</li>
   <li class="active">Examples</li>
   </ol>
   <ul class="list-inline pull-right topr">
    <li><a href="https://github.com/ZOO-Project/ZOO-Project/" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a></li>
    <li><a href="https://www.openhub.net/p/zoo-project" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Openhub"><span class="fa fa-circle-o"></span></a></li>
   </ul>
</div>
</nav>
</div>
</nav>


<div class="zoo-default">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-title "><i class="icon-zoo-logo bfs"></i></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-10 text-center">	
      <h1 class="section-heading">ZOO examples</h1>
      <h2 class="sub-heading">Get inspired</h2>
      <div class="well well well-heading">
	<p class="intnp">This is the <a href="http://zoo-project.org">ZOO-Project</a> examples section. Simple to advanced <a href="./ZOO-Services">ZOO-Services</a> are demonstrated here through various example WPS client applications. Check the source and get inspired !</p>
      </div>
    </div>
  </div>
</div>

<div class="bblocks">
 <div class="container">
  <div class="row zserv">
    <div class="col-md-12 col-xs-12 text-center">
      <h2>Examples</h2>      
    </div>
 </div>
 </div>
 </div>

  <div class="zoo-content-npb">
    <div class="container">
	<div class="row">

	<div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../../images/spatialtools.png" class="img-responsive" />
              <div class="caption text-center">
                <h4>OGR spatial tools</h4>                
                <p class="text-center"><a href="https://zoo-project.org/examples/spatialtools.html" class="btn btn-zoo btn-lg" role="button"><i class="fa fa-eye"></i> view</a></p>
            </div>
          </div>
        </div>


	<div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
              <img src="../../images/gdal_profile.png" class="img-responsive" />
              <div class="caption text-center">
                <h4>GDAL profile</h4>                
                <p class="text-center"><a href="https://zoo-project.org/examples/gdal_profile.html" class="btn btn-zoo btn-lg" role="button"><i class="fa fa-eye"></i> view</a></p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
              <img src="../../images/cgal.png" class="img-responsive" />
              <div class="caption text-center">
                <h4>CGAL triangulations</h4>
                <p class="text-center"><a href="https://zoo-project.org/examples/cgal.html" class="btn btn-zoo btn-lg" role="button"><i class="fa fa-eye"></i> view</a></p>         
            </div>
          </div>
        </div>

       <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../../images/otb-example.png" class="img-responsive" />
              <div class="caption text-center">
                <h4>OTB applications</h4>
                <p class="text-center"><a href="https://zoo-project.org/examples/otb-example.html" class="btn btn-zoo btn-lg" role="button"><i class="fa fa-eye"></i> view</a> </p>         
            </div>
          </div>
        </div>
	
    </div>

<div class="row">

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../../images/saga-example.png" class="img-responsive" />
              <div class="caption text-center">
                <h4>SAGA-GIS examples</h4>
                <p class="text-center"><a href="https://zoo-project.org/examples/saga-example.html" class="btn btn-zoo btn-lg" role="button"><i class="fa fa-eye"></i> view</a> </p>
            </div>
          </div>
        </div>

        <div class="col-xs-18 col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="http://placehold.it/500x250/E0E0E0?text=Coming+soon">
              <div class="caption text-center">
                <h4>GRASS GIS stuff</h4>
                <p class="text-center"><a href="../../examples/#.html" class="btn btn-zoo btn-lg" role="button"><i class="fa fa-eye"></i> coming soon</a> </p>                
            </div>
          </div>
        </div>



</div>


</div>
</div>

<div id="credits" class="paper">
 <div class="container text-center">
   <h1 class="content-heading">Credits</h1>
   <div class="well text-center mtp">
    <ul class="list-unstyled spg">
<li>WPS Server: <a href="http://zoo-project.org/docs/client/">ZOO-Kernel</a> and <a href="./ZOO-Services"> friends</a></li>
<li>WPS Client: <a href="http://zoo-project.org/docs/client/"> ZOO-Client</a></li>
<li>Webmapping: <a href="http://openlayers.org"> OpenLayers</a></li>
<li>Base maps: <a href="http://openstreetmap.org"> OpenStreetMap</a></li>
<li>CSS: <a href="http://getbootsrap.com"> Bootstrap</a></li>
   </div>
  </div>
</div>
<script>
$(function(){
var shrinkHeader = 80;
$(window).scroll(function() {
	var scroll = getCurrentScroll();
	if ( scroll >= shrinkHeader ) {
		$('.navbar-brand').addClass('navbar-shrink');
		$('.navbar-inverse').addClass('navbar-colored');
		$('.navbar-nav').css({"margin":"0 0 0 15px"});
		$(".sun").show();
	$('.navbar-lower').addClass('navbarlower-colored');
	}
	else{
		$('.navbar-brand').removeClass('navbar-shrink');
		$('.navbar-inverse').removeClass('navbar-colored');
		$('.navbar-nav').css({"margin":"25px 0 0 25px"});
		$(".sun").hide();
		$('.navbar-lower').removeClass('navbarlower-colored');
	}
});
function getCurrentScroll() {
	return window.pageYOffset;
	}
});

$('.navbar-lower').affix({
  offset: {top: 60}
});	
$('[data-toggle="tooltip"]').tooltip();



  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-22830578-1');
</script>
{{ end }}