{{define "main"}}
<div class="subn">
<nav class="navbar navbar-lower" role="navigation">
<div class="container">
   <ol class="breadcrumb zbr">
  <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
   <li class="active">Resources</li>
   <li class="active">Documentation</li>
   </ol>
   <ul class="list-inline pull-right topr">
    <li><a href="https://github.com/ZOO-Project/ZOO-Project/" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a></li>
    <li><a href="https://www.openhub.net/p/zoo-project" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Openhub"><span class="fa fa-circle-o"></span></a></li>
   </ul>
</div>
</nav>
</div>
</nav>


<div class="zoo-default">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-title "><i class="fa fa-book bfs"></i></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-10 text-center">	
      <h1 class="section-heading">Documentation</h1>
      <h2 class="sub-heading">ZOO-Project Docs</h2>
      <div class="well well well-heading">
	<p class="intnp">This is the <a href="./Welcome">ZOO-Project</a> Open WPS Platform official documentation. It provides a comprehensive guide to all aspects of using the ZOO-Project software components. This documentation is written by the community for the community and intends to be a helpful reference. <a href="/https://zoo-project.github.io/docs/contribute/index.html">Get involved</a>!</p>
      </div>
    </div>
  </div>
</div>

<div class="bblocks">
<div class="container">
  <div class="row dserv vertical-align">
   <div class="col-md-12">
      <div class="col-md-6">
        <h2 class="din"><a href="https://zoo-project.github.io/docs/" class="doctoc mtm"><i class="fa fa-list"></i> Documentation index</a></h2>
      </div>
      <div class="col-md-6">
        <a href="/docs/ZOO-Project.pdf" class="btn btn-warning btn-lg pull-right"><i class="fa fa-file-pdf-o"></i> <span class="hidden-xs">Download PDF</span></a>
      </div>
     </div>
   </div>
  </div>
</div>


<div class="paper">
  <div class="container mbp">
    <div class="row mtp">
      <div class="col-xs-12 col-sm-4 col-lg-4 text-center mbpm">
        <div class="ztdi text-center">
          <a href="https://zoo-project.github.io/docs/intro.html"><span class="zoo-title-s"><i class="fa fa-info bfs bfsd"></i></span>
          <h2 class="stlo">Introduction</h2>
          <h3 class="stls">First steps with ZOO-Project</h3>
         </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 text-center mbpm">
        <div class="ztdi text-center">
          <a href="https://zoo-project.github.io/docs/install/"><span class="zoo-title-s"><i class="fa fa-wrench bfs bfsd"></i></span>
          <h2 class="stlo">Installation</h2>
          <h3 class="stls">ZOO-Project installation guide</h3>
         </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 text-center mbpm">
        <div class="ztdim text-center">
          <a href="https://zoo-project.github.io/docs/kernel/" class="k"><span class="zoo-title-s"><img src="http://zoo-project.org/img/zoo-cheetah.png" class="circ img-responsive" width="120" height="116" /></span>
          <h2 class="stlo">ZOO-Kernel</h2>
          <h3 class="stls">WPS server documentation</h3>
         </a>
        </div>
      </div>
</div>
<div class="row mtp">
      <div class="col-xs-12 col-sm-4 col-lg-4 text-center mbpm">
        <div class="ztdim text-center">
          <a href="https://zoo-project.github.io/docs/services/" class="s"><span class="zoo-title-s "><img src="http://zoo-project.org/img/zoo-pinguin.png" class="circ img-responsive"></span>
          <h2 class="stlo">ZOO-Services</h2>
          <h3 class="stls">WPS services documentation</h3>
         </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 text-center mbpm">
        <div class="ztdim text-center">
          <a href="https://zoo-project.github.io/docs/api/" class="a"><span class="zoo-title-s "><img src="http://zoo-project.org/img/zoo-monkey.png" class="circ img-responsive"></span>
          <h2 class="stlo">ZOO-API</h2>
          <h3 class="stls">WPS API documentation</h3>
         </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-lg-4 text-center mbpm">
        <div class="ztdim text-center">
          <a href="https://zoo-project.github.io/docs/client/" class="c"><span class="zoo-title-s "><img src="http://zoo-project.org/img/zoo-yak.png" class="circ img-responsive"></span>
          <h2 class="stlo">ZOO-Client</h2>
          <h3 class="stls">WPS Client documentation</h3>
         </a>
        </div>
      </div>
</div>






<div class="well text-center mtpm">
         <h2 class="ccic">C <span>cba</span></h2>
         <p class="spg">This document is released under the Creative Commons Attribution-ShareAlike 4.0 International Public License (<a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" target="_blank">CC-BY-SA</a>).</p>
        </div>
</div>


  </div>



    <div class="bblocks">
 <div class="container">
  <div class="row tserv">
   <div class="col-md-12 text-center">
      <h1 class="stw"><a href="https://zoo-project.github.io/docs/contribute/">Contributor Guide</a></h1>
     </div>
   </div>
</div>
</div>            
<script>
$(function(){
var shrinkHeader = 80;
$(window).scroll(function() {
	var scroll = getCurrentScroll();
	if ( scroll >= shrinkHeader ) {
		$('.navbar-brand').addClass('navbar-shrink');
		$('.navbar-inverse').addClass('navbar-colored');
		$('.navbar-nav').css({"margin":"0 0 0 15px"});
		$(".sun").show();
	$('.navbar-lower').addClass('navbarlower-colored');
	
	}
	else{
		$('.navbar-brand').removeClass('navbar-shrink');
		$('.navbar-inverse').removeClass('navbar-colored');
		$('.navbar-nav').css({"margin":"25px 0 0 25px"});
		$(".sun").hide();
		$('.navbar-lower').removeClass('navbarlower-colored');
	
	}
});
function getCurrentScroll() {
	return window.pageYOffset;
	}
});



$('.navbar-lower').affix({
  offset: {top: 60}
});	

$(".ztdim a.k").hover(function() { $(this).find('img').attr('src','/images/zoo-cheetah-w.png');},
function () {$(this).find('img').attr('src', '/images/zoo-cheetah.png');});

$(".ztdim a.s").hover(function() { $(this).find('img').attr('src','/images/zoo-pinguin-w.png');},
function () {$(this).find('img').attr('src', '/images/zoo-pinguin.png');});

$(".ztdim a.a").hover(function() { $(this).find('img').attr('src','/images/zoo-monkey-w.png');},
function () {$(this).find('img').attr('src', '/images/zoo-monkey.png');});

$(".ztdim a.c").hover(function() { $(this).find('img').attr('src','/images/zoo-yak-w.png');},
function () {$(this).find('img').attr('src', '/images/zoo-yak.png');});


  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-22830578-1');
</script>

{{ end }}