{{ define "main" }}
<div class="subn">
<nav class="navbar navbar-lower" role="navigation">
<div class="container">
   <ol class="breadcrumb zbr">
  <li class="active"><a href="/"><i class="fa fa-home"></i></a></li>
   <li class="active">Code</li>
   <li class="active">Download</li>
   </ol>
   <ul class="list-inline pull-right topr">
    <li><a href="https://github.com/ZOO-Project/ZOO-Project/" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a></li>
    <li><a href="https://www.openhub.net/p/zoo-project" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Openhub"><span class="fa fa-circle-o"></span></a></li>
   </ul>
</div>
</nav>
</div>
</nav>

<div class="zoo-default">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-title "><i class="fa fa-download bfs"></i></span>
    </div>
    <div class="col-xs-12 col-sm-10 col-lg-10 text-center">	
      <h1 class="section-heading">Download</h1>
      <h2 class="sub-heading">ZOO-Project source code</h2>
      <div class="well well well-heading">
	<p class="intnp">Welcome to the <a href="http://zoo-project.org">ZOO-Project</a> download section. Feel free to download a free and <a href="#license">open source</a> copy of the latest main branch. You can also use previous <a href="http://zoo-project.org">ZOO-Project</a> versions at your own risks.</p>
      </div>
    </div>
  </div>
</div>

<div class="bblock">
  <h1 class="section-heading-w">Latest</h1>
  <div class="container">
   <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-6 text-center">
      <h2><i class="fa fa-code"></i> Download latest source code</h2>
<pre class="language-powershell"><code>#!sh
git clone https://github.com/ZOO-Project/ZOO-Project.git</code></pre>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3 text-center">
      <h2>ZOO-Project-2.0.0-rc2</h2>
        <ul class="list-unstyled mtp">
         <li class="mtp"><a href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-2.0.0:-Notes" target="_blank">Release notes</a></li>
         <li class="mtp"><i class="fa fa-file-archive-o"></i> <a href="//zoo-project.org/dl/zoo-project-2.0.0.tar.bz2">zoo-project-2.0.0.tar.bz2</a></li>
         <li class="mtp"><i class="fa fa-file-archive-o"></i> <a href="//zoo-project.org/dl/zoo-project-2.0.0.zip">zoo-project-2.0.0.zip</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-3 col-lg-3 text-center">
      <h2>Build tests</h2>
        <ul class="list-unstyled mtp">
         <li class="mtp">GNU/Linux Status: <a href="https://ci.appveyor.com/project/djay/trunk-t67ri" target="_blank"><img src="https://ci.appveyor.com/api/projects/status/ckac8aknpct5o3yx?svg=true" /></a> </li>
         <li class="mtp">Windows Status: <a href="https://ci.appveyor.com/project/djay/trunk-hp3tw" target="_blank"><img src="https://ci.appveyor.com/api/projects/status/fwv8gggmhs2x27ta?svg=true" /></a> </li>
        </ul>
    </div>
  </div>

    <div class="alert alert-success mtp text-center">
    <p><i class="fa fa-thumbs-up green"></i> Using GitHub latest main branch is safe and healthy.</p>
    </div>

 </div>
 </div>

<div class="dblock">
  <div class="container">
    <div class="col-lg-12">
      <h1 class="content-heading  text-center">Releases</h1>
    <div class="alert alert-warning mtp text-center">
    <p><i class="fa fa-warning"></i> By using previous release you may be exposed to unexpected behavior or bugs.</p>
    </div>

<p>
<h2 id="ZOO-Projectversion1.9.0">ZOO-Project version 1.9.0</h2>
<div class="well well-lg" style="color: #97907d;">
<p>
<a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-1.9.0:-Notes"><span class="icon">​</span>Release Notes</a>
</p>
<h3 id="Download">Download</h3>
<h4 id="Archives">Archives</h4>
<ul><li><strong>ZOO-Project Release 1.9.0: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.9.0.tar.bz2"><span class="icon">​</span>zoo-project-1.9.0.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.9.0.zip"><span class="icon">​</span>zoo-project-1.9.0.zip</a></strong>
</li><li>ZOO-Project Release 1.9.0-rc1: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.9.0-rc1.tar.bz2"><span class="icon">​</span>zoo-project-1.9.0-rc1.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.9.0-rc1.zip"><span class="icon">​</span>zoo-project-1.9.0-rc1.zip</a>
</li></ul><h4 id="GitHubTag">GitHub Tag</h4>
<ul><li><strong>ZOO-Project Release 1.9.0: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.9.0"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.9.0</a></strong>
</li><li>ZOO-Project Release 1.9.0-rc1: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.9.0-rc1"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.9.0-rc1</a>
</div>
</li></ul><h2 id="ZOO-Projectversion1.8.0">ZOO-Project version 1.8.0</h2>
<div class="well well-lg" style="color: #97907d;">
<p>
<a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-1.8.0:-Notes"><span class="icon">​</span>Release Notes</a>
</p>
<h3 id="Download1">Download</h3>
<h4 id="Archives1">Archives</h4>
<ul><li><strong>ZOO-Project Release 1.8.0: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.8.0.tar.bz2"><span class="icon">​</span>zoo-project-1.8.0.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.8.0.zip"><span class="icon">​</span>zoo-project-1.8.0.zip</a></strong>
</li><li>ZOO-Project Release 1.8.0-rc1: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.8.0-rc1.tar.bz2"><span class="icon">​</span>zoo-project-1.8.0-rc1.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.8.0-rc1.zip"><span class="icon">​</span>zoo-project-1.8.0-rc1.zip</a>
</li></ul><h4 id="GitHubTag1">GitHub Tag</h4>
<ul><li><strong>ZOO-Project Release 1.8.0: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.8.0"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.8.0</a></strong>
</li><li>ZOO-Project Release 1.8.0-rc1: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.8.0-rc1"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.8.0-rc1</a>
</div>
</li></ul><h2 id="ZOO-Projectversion1.7.0">ZOO-Project version 1.7.0</h2>
<div class="well well-lg" style="color: #97907d;">
<p>
<a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-1.7.0:-Notes"><span class="icon">​</span>Release Notes</a>
</p>
<h3 id="Download2">Download</h3>
<h4 id="Archives2">Archives</h4>
<ul><li><strong>ZOO-Project Release 1.7.0: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.7.0.tar.bz2"><span class="icon">​</span>zoo-project-1.7.0.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.7.0.zip"><span class="icon">​</span>zoo-project-1.7.0.zip</a></strong>
</li><li>ZOO-Project Release 1.7.0-rc1: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.7.0-rc1.tar.bz2"><span class="icon">​</span>zoo-project-1.7.0-rc1.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.7.0-rc1.zip"><span class="icon">​</span>zoo-project-1.7.0-rc1.zip</a>
</li></ul><h4 id="GitHubTag2">GitHub Tag</h4>
<ul><li><strong>ZOO-Project Release 1.7.0: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.7.0"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.7.0</a></strong>
</li><li>ZOO-Project Release 1.7.0-rc1: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.7.0-rc1"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.7.0-rc1</a>
</div>
</li></ul><h2 id="ZOO-Projectversion1.6.0">ZOO-Project version 1.6.0</h2>
<div class="well well-lg" style="color: #97907d;">
<p>
<a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-1.6.0:-Notes"><span class="icon">​</span>Release Notes</a>
</p>
<h3 id="Download3">Download</h3>
<h4 id="Archives3">Archives</h4>
<ul><li><strong>ZOO-Project Release 1.6.0: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.6.0.tar.bz2"><span class="icon">​</span>zoo-project-1.6.0.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.6.0.zip"><span class="icon">​</span>zoo-project-1.6.0.zip</a></strong>
</li><li>ZOO-Project Release 1.6.0-rc1: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.6.0-rc1.tar.bz2"><span class="icon">​</span>zoo-project-1.6.0-rc1.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.6.0-rc1.zip"><span class="icon">​</span>zoo-project-1.6.0-rc1.zip</a>
</li><li>ZOO-Project Release 1.6.0-rc2: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.6.0-rc1.tar.bz2"><span class="icon">​</span>zoo-project-1.6.0-rc1.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.6.0-rc1.zip"><span class="icon">​</span>zoo-project-1.6.0-rc1.zip</a>
</li></ul><h4 id="GitHubTag3">GitHub Tag</h4>
<ul><li><strong>ZOO-Project Release 1.6.0: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.6.0"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.6.0</a></strong>
</li><li>ZOO-Project Release 1.6.0-rc1: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.6.0-rc1"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.6.0-rc1</a>
</li><li>ZOO-Project Release 1.6.0-rc2: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.6.0-rc2"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.6.0-rc2</a>
</div>
</li></ul><h2 id="ZOO-Projectversion1.5.0">ZOO-Project version 1.5.0</h2>
<div class="well well-lg" style="color: #97907d;">
<p>
<a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-1.5.0:-Notes"><span class="icon">​</span>Release Notes</a>
</p>
<h3 id="Download4">Download</h3>
<h4 id="Archives4">Archives</h4>
<ul><li><strong>ZOO-Project Release 1.5.0: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.5.0.tar.bz2"><span class="icon">​</span>zoo-project-1.5.0.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.5.0.zip"><span class="icon">​</span>zoo-project-1.5.0.zip</a></strong>
</li><li>ZOO-Project Release 1.5.0-rc1: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.5.0-rc1.tar.bz2"><span class="icon">​</span>zoo-project-1.5.0-rc1.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.5.0-rc1.zip"><span class="icon">​</span>zoo-project-1.5.0-rc1.zip</a>
</li></ul><h4 id="GitHubTag4">GitHub Tag</h4>
<ul><li><strong>ZOO-Project Release 1.5.0: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.5.0"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.5.0</a></strong>
</li><li>ZOO-Project Release 1.5.0-rc1: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.5.0-rc1"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.5.0-rc1</a>
</li></ul></div>
<h2 id="ZOO-Projectversion1.4.0">ZOO-Project version 1.4.0</h2>
<div class="well well-lg" style="color: #97907d;">
<p>
<a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-1.4.0:-Notes"><span class="icon">​</span>Release Notes</a>
</p>
<h3 id="Download5">Download</h3>
<h4 id="Archives5">Archives</h4>
<ul><li><strong>ZOO-Project Release 1.4.0: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.4.0.tar.bz2"><span class="icon">​</span>zoo-project-1.4.0.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.4.0.zip"><span class="icon">​</span>zoo-project-1.4.0.zip</a></strong>
</li><li>ZOO-Project Release 1.4.0-rc1: <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.4.0-rc1.tar.bz2"><span class="icon">​</span>zoo-project-1.4.0-rc1.tar.bz2</a> | <a class="ext-link" href="http://zoo-project.org/dl/zoo-project-1.4.0-rc1.zip"><span class="icon">​</span>zoo-project-1.4.0-rc1.zip</a>
</li></ul><h4 id="GitHubTag5">GitHub Tag</h4>
<ul><li><strong>ZOO-Project Release 1.4.0: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.4.0"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.4.0</a></strong>
</li><li>ZOO-Project Release 1.4.0-rc1: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.4.0-rc1"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.4.0-rc1</a>
</li></ul></div>
<h2 id="ZOO-Projectversion1.3.0">ZOO-Project version 1.3.0</h2>
<div class="well well-lg" style="color: #97907d;">
<p>
<a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-1.3.0:-Notes"><span class="icon">​</span>Release Notes</a>
</p>
<h3 id="Download6">Download</h3>
<h4 id="Archives6">Archives</h4>
<ul><li><strong>ZOO-Project Release 1.3.0: <a href="http://www.zoo-project.org/dl/zoo-project-1.3.0.tar.bz2">zoo-project-1.3.0.tar.bz2</a> | <a href="http://www.zoo-project.org/dl/zoo-project-1.3.0.zip">zoo-project-1.3.0.zip</a></strong>
</li><li>ZOO-Project Release 1.3.0-rc1: <a href="/trac/raw-attachment/wiki/Release/1.3.0/zoo-project-wd-1.3.0-rc1.tar.bz2">zoo-project-1.3.0-rc1.tar.bz2</a> | <a href="/trac/raw-attachment/wiki/Release/1.3.0/zoo-project-wd-1.3.0-rc1.zip">zoo-project-1.3.0-rc1.zip</a>
</li><li>ZOO-Project Release 1.3.0-rc2: <a href="http://www.zoo-project.org/dl/zoo-project-1.3.0-rc2.tar.bz2">zoo-project-1.3.0-rc2.tar.bz2</a> | <a href="http://www.zoo-project.org/dl/zoo-project-1.3.0-rc2.zip">zoo-project-1.3.0-rc2.zip</a>
</li></ul><h4 id="GitHubTag6">GitHub Tag</h4>
<ul><li><strong>ZOO-Project Release 1.3.0: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.3.0"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.3.0</a></strong>
</li><li>ZOO-Project Release 1.3.0-rc1: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.3.0-rc1"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.3.0-rc1</a>
</li><li>ZOO-Project Release 1.3.0-rc2: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.3.0-rc2"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.3.0-rc2</a>
</li></ul></div>
<h2 id="ZOO-Projectversion1.2.0">ZOO-Project version 1.2.0</h2>
<div class="well well-lg" style="color: #97907d;">
<p>
<a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/wiki/Release:-1.2.0:-Notes"><span class="icon">​</span>Release Notes</a>
</p>
<h3 id="Download7">Download</h3>
<h4 id="Archives7">Archives</h4>
<ul><li><strong>ZOO-Project Release 1.2.0: <a href="/trac/raw-attachment/wiki/Release/1.2.0/zoo-project-1.2.0.tar.bz2">zoo-project-1.2.0.tar.bz2</a> | <a href="/trac/raw-attachment/wiki/Release/1.2.0/zoo-project-1.2.0.zip">zoo-project-1.2.0.zip</a></strong>
</li><li>ZOO-Project Release 1.2.0-rc1: <a href="/trac/raw-attachment/wiki/Release/1.2.0/zoo-project-1.2.0-rc1.tar.bz2">zoo-project-1.2.0-rc1.tar.bz2</a> | <a href="/trac/raw-attachment/wiki/Release/1.2.0/zoo-project-1.2.0-rc1.zip">zoo-project-1.2.0-rc1.zip</a>
</li><li>ZOO-Project Release 1.2.0-rc2: <a href="/trac/raw-attachment/wiki/Release/1.2.0/zoo-project-1.2.0-rc2.tar.bz2">zoo-project-1.2.0-rc2.tar.bz2</a> | <a href="/trac/raw-attachment/wiki/Release/1.2.0/zoo-project-1.2.0-rc2.zip">zoo-project-1.2.0-rc2.zip</a>
</li><li>ZOO-Project Release 1.2.0-rc3: <a href="/trac/raw-attachment/wiki/Release/1.2.0/zoo-project-1.2.0-rc3.tar.bz2">zoo-project-1.2.0-rc3.tar.bz2</a> | <a href="/trac/raw-attachment/wiki/Release/1.2.0/zoo-project-1.2.0-rc3.zip">zoo-project-1.2.0-rc3.zip</a>
</li></ul><h4 id="GitHubTag7">GitHub Tag</h4>
<ul><li><strong>ZOO-Project Release 1.2.0: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.2.0"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.2.0</a></strong>
</li><li>ZOO-Project Release 1.2.0-rc1: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.2.0-rc1"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.2.0-rc1</a>
</li><li>ZOO-Project Release 1.2.0-rc2: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.2.0-rc2"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.2.0-rc2</a>
</li><li>ZOO-Project Release 1.2.0-rc3: <a class="ext-link" href="https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.2.0-rc3"><span class="icon">​</span>https://github.com/ZOO-Project/ZOO-Project/tree/rel-1.2.0-rc3</a>
</div>
</li></ul><h2 id="ZOO-Projectversion1.0.0">ZOO-Project version 1.0.0</h2>
<div class="well well-lg" style="color: #97907d;">
<h3 id="Download8">Download</h3>
<h4 id="Archives8">Archives</h4>
<p>
<a href="http://www.zoo-project.org/dl/ZOO-Kernel-1.0.tar.bz2">ZOO-Kernel-1.0.tar.bz2</a> / <a href="http://www.zoo-project.org/dl/ZOO-Kernel-1.0.zip">ZOO-Kernel-1.0.zip</a>
</p>
<p>
(<a class="ext-link" href="http://lists.osgeo.org/pipermail/zoo-discuss/2010-April/000221.html"><span class="icon">​</span>Reference</a>)
</p>
</div>

</p>

</div>
</div>
</div>

<div id="license" class="paper">
 <div class="container text-center">
   <h1 class="content-heading">License</h1>
   <div class="well text-center mtp">
    <p class="spg"><a href="http://zoo-project.org"><i class=""></i> ZOO-Project</a> is released under a MIT/X-11 style license. Please refer to the <a href="http://zoo-project.org/svn/trunk/zoo-project/LICENSE">ZOO-Project license file</a> for more information.</p>
   </div>
  </div>
</div>
<script>
$(function(){
var shrinkHeader = 80;
$(window).scroll(function() {
	var scroll = getCurrentScroll();
	if ( scroll >= shrinkHeader ) {
		$('.navbar-brand').addClass('navbar-shrink');
		$('.navbar-inverse').addClass('navbar-colored');
		$('.navbar-nav').css({"margin":"0 0 0 15px"});
		$(".sun").show();
	$('.navbar-lower').addClass('navbarlower-colored');
	
	}
	else{
		$('.navbar-brand').removeClass('navbar-shrink');
		$('.navbar-inverse').removeClass('navbar-colored');
		$('.navbar-nav').css({"margin":"25px 0 0 25px"});
		$(".sun").hide();
		$('.navbar-lower').removeClass('navbarlower-colored');
	
	}
});
function getCurrentScroll() {
	return window.pageYOffset;
	}
});


$('.navbar-lower').affix({
  offset: {top: 60}
});	


  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-22830578-1');
</script>

{{ end }}