{{ define "main" }}
<div class="subn">
<nav class="navbar navbar-lower" role="navigation">
<div class="container">
   <ol class="breadcrumb zbr">
  <li class="active"><a href="../../"><i class="fa fa-home"></i></a></li>
   <li class="active">ZOO-Project</li>
   <li class="active">ZOO-Events</li>
   </ol>
   <ul class="list-inline pull-right topr">
    <li><a href="https://github.com/ZOO-Project/ZOO-Project/" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Github"><span class="fa fa-github"></span></a></li>
    <li><a href="https://www.openhub.net/p/zoo-project" class="btn btn-sm btn-hover btn-zoos hello" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Openhub"><span class="fa fa-circle-o"></span></a></li>
   </ul>
</div>
</nav>
</div>
</nav>

<div class="zoo-default">
  <div class="container">
    <div class="col-xs-12 col-sm-2 col-lg-2 text-center">
      <span class="zoo-title "><i class="fa fa-microphone bfs"></i></span>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-10 text-center">	
      <h1 class="section-heading">ZOO Events</h1>
      <h2 class="sub-heading">Promoting WPS worldwide</h2>
      <div class="well well well-heading">
	<p class="intnp">The <a href="./Tribe">ZOO Tribe</a> members have been presenting <b>ZOO-Project</b> and promoting <b>WPS</b> since 2009 at geospatial and open source related conferences <i class="fa fa-microphone"></i> and workshops <i class="fa fa-laptop"></i>. See you at next <b>ZOO events</b> !</p>
      </div>
    </div>
  </div>
</div>

<div class="bblocks">
     <div class="container">
  <div class="row zserv">
   <div class="col-md-12 text-center">
      <h2>Next event</h2>
     </div>
    </div>
   </div>
</div>
<div id="eventmap">
 <div class="event" style="background: #663e05;opacity:0.75">
  <a href="https://2025.foss4g.org/" target="_blank">
   <img class="img-responsive" src="https://2025.foss4g.org/images/foss4g_2025_logo_interim.png" alt="FOSS4G 2025" width="150" style="background:#fff" />
  </a>
 </div>
</div>

<div class="container">
 <div class="row mtp">
  <div class="col-xs-12 col-md-12 col-sm-12">

      <table class="table table-striped">

<!--
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project Introduction Workshop</td>
        <td><a href="http://2017.foss4g.org/" target="_blank">FOSS4G 2017</a></td>
        <td style="width:10%"><date>2017-08-14 (or 15)</date></td> 
        <td style="width:13%" class="hidden-xs">XX YY</td>
        <td style="width:10%">Boston</td>
        <td style="width:10%"><img src="../../img/flags/us.png" /> <span class="hidden-xs">USA</span></td>
      </tr>
-->
</table>


</div>
</div>
</div>


<div class="bblocks">
     <div class="container">
  <div class="row zserv">
   <div class="col-md-12 text-center">

      <h2>Past events</h2>
     </div>
    </div>
   </div>

</div>

<div class="container">
 <div class="row mtp">
  <div class="col-xs-12 col-md-12 col-sm-12">

      <table class="table table-striped">
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project: from OGC WPS to OGC API - Processes Part 1 and Part 2 </td>
        <td><a href="http://2022.foss4g.org/" target="_blank">FOSS4G-Europe 2024</a></td>
        <td style="width:10%"><date>2024-07-05</date></td> 
        <td style="width:13%" class="hidden-xs">26.7163 58.3733</td>
        <td style="width:10%">Tartu </td>
        <td style="width:11%"><img src="../../images/flags/ee.png" /> <span class="hidden-xs">ESTONIA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project - OGC API - Processes - Introduction</td>
        <td><a href="http://2022.foss4g.org/" target="_blank">FOSS4G-Europe 2024</a></td>
        <td style="width:10%"><date>2024-07-01</date></td> 
        <td style="width:13%" class="hidden-xs">26.7163 58.3733</td>
        <td style="width:10%">Tartu </td>
        <td style="width:10%"><img src="../../images/flags/ee.png" /> <span class="hidden-xs">ESTONIA</span></td>
      </tr>
      <tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project: from OGC WPS to OGC API - Processes Part 1 and Part 2</td>
        <td><a href="https://www.geoinfo-lab.org/foss4g-asia_2023/" target="_blank">FOSS4G-ASIA 2023</a></td>
        <td style="width:10%"><date>2023-11-30</date></td> 
        <td style="width:13%" class="hidden-xs">37.5682187 126.975783</td>
        <td style="width:10%">Seoul </td>
        <td style="width:11%"><img src="../../images/flags/it.png" /> <span class="hidden-xs">S.KOREA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>State of the ZOO-Project: from OGC WPS to OGC API - Processes</td>
        <td><a href="http://2022.foss4g.org/" target="_blank">FOSS4G 2022</a></td>
        <td style="width:10%"><date>2022-08-25</date></td> 
        <td style="width:13%" class="hidden-xs">43.7779 11.2473</td>
        <td style="width:10%">Florence </td>
        <td style="width:11%"><img src="../../images/flags/it.png" /> <span class="hidden-xs">ITALY</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project Introduction Workshop</td>
        <td><a href="http://2022.foss4g.org/" target="_blank">FOSS4G 2022</a></td>
        <td style="width:10%"><date>2022-08-23</date></td> 
        <td style="width:13%" class="hidden-xs">43.7779 11.2473</td>
        <td style="width:10%">Florence </td>
        <td style="width:10%"><img src="../../images/flags/it.png" /> <span class="hidden-xs">ITALY</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>State of the ZOO-Project: from OGC WPS to OGC API - Processes</td>
        <td><a href="http://2021.foss4g.org/" target="_blank">FOSS4G 2021</a></td>
        <td style="width:10%"><date>2021-10-01</date></td> 
        <td style="width:13%" class="hidden-xs">-34.6081 -58.3703</td>
        <td style="width:10%">Buenos Aires </td>
        <td style="width:11%"><img src="../../images/flags/ar.png" /> <span class="hidden-xs">ARGENTINA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project: News about the Open WPS Platform</td>
        <td><a href="http://2019.foss4g.org/" target="_blank">FOSS4G 2019</a></td>
        <td style="width:10%"><date>2019-08-29</date></td> 
        <td style="width:13%" class="hidden-xs">44.4335 26.1023</td>
        <td style="width:10%">Bucharest </td>
        <td style="width:11%"><img src="../../images/flags/lk.png" /> <span class="hidden-xs">ROMANIA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project: News about the Open WPS Platform</td>
        <td><a href="https://www.geoinfo-lab.org/foss4g-asia_2018/" target="_blank">FOSS4G-ASIA 2018</a></td>
        <td style="width:10%"><date>2018-12-03</date></td> 
        <td style="width:13%" class="hidden-xs">6.7972 79.8999</td>
        <td style="width:10%">Moratuwa </td>
        <td style="width:10%"><img src="../../images/flags/lk.png" /> <span class="hidden-xs">SRI LANKA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project Introduction Workshop</td>
        <td><a href="https://www.geoinfo-lab.org/foss4g-asia_2018/" target="_blank">FOSS4G-ASIA 2018</a></td>
        <td style="width:10%"><date>2018-12-02</date></td> 
        <td style="width:13%" class="hidden-xs">6.7972 79.8999</td>
        <td style="width:10%">Moratuwa </td>
        <td style="width:10%"><img src="../../images/flags/lk.png" /> <span class="hidden-xs">SRI LANKA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project: News about the Open WPS Platform</td>
        <td><a href="http://2018.foss4g.org/" target="_blank">FOSS4G 2018</a></td>
        <td style="width:10%"><date>2018-08-31</date></td> 
        <td style="width:13%" class="hidden-xs">-6.8110,39.2899</td>
        <td style="width:10%">Dar Es Salam</td>
        <td style="width:10%"><img src="../../images/flags/tz.png" /> <span class="hidden-xs">TANZANIA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.7.0: News about the Open WPS Platform</td>
        <td><a href="http://2017.foss4g.org/" target="_blank">FOSS4G 2017</a></td>
        <td style="width:10%"><date>2017-08-18</date></td> 
        <td style="width:13%" class="hidden-xs">-71.2504 42.3140</td>
        <td style="width:10%">Boston</td>
        <td style="width:10%"><img src="../../images/flags/us.png" /> <span class="hidden-xs">USA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project Introduction Workshop</td>
        <td><a href="http://2017.foss4g.org/" target="_blank">FOSS4G 2017</a></td>
        <td style="width:10%"><date>2017-08-15</date></td> 
        <td style="width:13%" class="hidden-xs">-71.2504 42.3140</td>
        <td style="width:10%">Boston</td>
        <td style="width:10%"><img src="../../images/flags/us.png" /> <span class="hidden-xs">USA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.7.0: News about the Open WPS Platform</td>
        <td><a href="http://europe.foss4g.org/2017/" target="_blank">FOSS4G-Europe 2017</a></td>
        <td style="width:10%"><date>2017-07-21</date></td> 
        <td style="width:13%" class="hidden-xs">2.58735 48.84106</td>
        <td style="width:10%">Marne-la-Vallée</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">France</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project Introduction Workshop</td>
        <td><a href="http://europe.foss4g.org/2017/" target="_blank">FOSS4G-Europe 2017</a></td>
        <td style="width:10%"><date>2017-07-18</date></td> 
        <td style="width:13%" class="hidden-xs">2.58735 48.84106</td>
        <td style="width:10%">Marne-la-Vallée</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">France</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.6.0: News about the Open WPS Platform</td>
        <td><a href="http://2016.foss4g.org/" target="_blank">FOSS4G 2016</a></td>
        <td style="width:10%"><date>2016-08-26</date></td> 
        <td style="width:13%" class="hidden-xs">7.1004, 50.7359</td>
        <td style="width:10%">Bonn</td>
        <td style="width:10%"><img src="../../images/flags/de.png" /> <span class="hidden-xs">GERMANY</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project Introduction Workshop</td>
        <td><a href="http://2016.foss4g.org/" target="_blank">FOSS4G 2016</a></td>
        <td style="width:10%"><date>2016-08-22</date></td> 
        <td style="width:13%" class="hidden-xs">7.1004, 50.7359</td>
        <td style="width:10%">Bonn</td>
        <td style="width:10%"><img src="../../images/flags/de.png" /> <span class="hidden-xs">GERMANY</span></td>
      </tr>
 <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.6.0 : Nouveautés de la plateforme WPS libre</td>
        <td><a href="http://osgeo.asso.fr/foss4gfr-2016/" target="_blank">FOSS4G-FR 2016</a></td>
        <td style="width:10%"><date>2016-05-12</date></td> 
        <td style="width:13%" class="hidden-xs">48.8412,2.5875</td>
        <td style="width:10%">Paris</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project: initiation à la création de services WPS</td>
        <td><a href="http://osgeo.asso.fr/foss4gfr-2016/" target="_blank">FOSS4G-FR 2016</a></td>
        <td style="width:10%"><date>2016-05-10</date></td> 
        <td style="width:13%" class="hidden-xs">48.8412,2.5875</td>
        <td style="width:10%">Paris</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></td>
        <td>ZOO-Project 1.5.0: news about the Open WPS Platform</td>
        <td><a href="http://europe.foss4g.org/2015/" target="_blank">FOSS4G 2015</a></td>
        <td style="width:10%"><date>2015-09-16</date></td> 
        <td style="width:13%" class="hidden-xs">37.4662, 127.0334</td>
        <td style="width:10%">Seoul</td>
        <td style="width:10%"><img src="../../images/flags/kr.png" /> <span class="hidden-xs">S.KOREA</span></td>
       </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Deploying Web Processing Services using ZOO-Project </td>
        <td><a href="http://europe.foss4g.org/2015/Workshops" target="_blank">FOSS4G 2015</a></td>
        <td style="width:10%"><date>2015-09-15</date></td> 
        <td style="width:13%" class="hidden-xs">37.4662, 127.0334</td>
        <td style="width:10%">Seoul</td>
        <td style="width:10%"><img src="../../images/flags/kr.png" /> <span class="hidden-xs">S.KOREA</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></td>
        <td>ZOO-Project 1.5.0: news about the Open WPS Platform</td>
        <td><a href="http://europe.foss4g.org/2015/" target="_blank">FOSS4G-Europe 2015</a></td>
        <td style="width:10%"><date>2015-07-15</date></td> 
        <td style="width:13%" class="hidden-xs">9.09374, 45.80223</td>
        <td style="width:10%">Como</td>
        <td style="width:10%"><img src="../../images/flags/it.png" /> <span class="hidden-xs">ITALY</span></td>
       </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Deploying Web Processing Services using ZOO-Project</td>
        <td><a href="http://europe.foss4g.org/2015/Workshops" target="_blank">FOSS4G-Europe 2015</a></td>
        <td style="width:10%"><date>2015-07-14</date></td> 
        <td style="width:13%" class="hidden-xs">9.09374, 45.80223</td>
        <td style="width:10%">Como</td>
        <td style="width:10%"><img src="../../images/flags/it.png" /> <span class="hidden-xs">ITALY</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></td>
        <td>OTB Support in ZOO-Project</td>
        <td><a href="http://wiki.orfeo-toolbox.org/index.php/OTB_Users_meeting_and_hackfest_2015" target="_blank">OTB Hackfest 2015</a></td>
         <td style="width:10%"><date>2015-06-03</date></td>
        <td style="width:13%" class="hidden-xs">43.5940,1.4210</td> 
        <td style="width:10%">Toulouse</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE<span></td>
       </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.4.0: news about the Open WPS Platform</td>
        <td><a href="https://www.geoinfo-lab.org/foss4g-asia_2014/" target="_blank">FOSS4G-Asia 2014</a></td>
        <td style="width:10%">  <date>2014-12-03</date></td> 
        <td style="width:13%" class="hidden-xs"> 14.0799,100.6135</td>
        <td style="width:10%">Bangkok</td>
        <td style="width:10%"><img src="../../images/flags/th.png" /> <span class="hidden-xs">THAILAND</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project 1.4.0 Workshop</td>
        <td><a href="https://www.geoinfo-lab.org/foss4g-asia_2014/" target="_blank">FOSS4G-Asia 2014</a></td>
        <td style="width:10%"><date>2014-12-02</date></td> 
        <td style="width:13%" class="hidden-xs">14.0799,100.6135</td>
        <td style="width:10%">Bangkok</td>
        <td style="width:10%"><img src="../../images/flags/th.png" /> <span class="hidden-xs">THAILAND</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.4.0: news about the Open WPS Platform</td>
        <td><a href="http://2014.foss4g.org/" target="_blank">FOSS4G 2014</a></td>
        <td style="width:10%"><date>2014-09-11</date></td> 
        <td style="width:13%" class="hidden-xs">45.5282,-122.6632</td>
        <td style="width:10%">Portland</td>
        <td style="width:10%"><img src="../../images/flags/us.png" /> <span class="hidden-xs">USA</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Deploying Web Processing Services using ZOO-Project</td>
        <td><a href="http://2014.foss4g.org/" target="_blank">FOSS4G 2014</a></td>
        <td style="width:10%"><date>2014-09-08</date></td> 
        <td style="width:13%" class="hidden-xs">45.5121,-122.6828</td>
        <td style="width:10%">Portland</td>
        <td style="width:10%"><img src="../../images/flags/us.png" /> <span class="hidden-xs">USA</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.4.0: news about the Open WPS Platform</td>
        <td><a href="http://europe.foss4g.org/2014" target="_blank">FOSS4G-Europe 2014</a></td>
        <td style="width:10%"><date>2014-07-15</date></td> 
        <td style="width:13%" class="hidden-xs">53.1677,8.6542</td>
        <td style="width:10%">Bremen</td>
        <td style="width:10%"><img src="../../images/flags/de.png" /> <span class="hidden-xs">GERMANY</span> </td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Création d'une application web [...] basée sur la norme WPS</td>
        <td><a href="http://foss4g.fr" target="_blank">FOSS4G-FR 2014</a></td>
        <td style="width:10%"><date>2014-05-20</date></td> 
        <td style="width:13%" class="hidden-xs">48.8412,2.5875</td>
        <td style="width:10%">Paris</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.4: Nouveautés de la plateforme WPS libre</td>
        <td><a href="http://foss4g.fr" target="_blank">FOSS4G-FR 2014</a></td>
        <td style="width:10%"><date>2014-05-22</date></td> 
        <td style="width:13%" class="hidden-xs">48.8412,2.5875</td>
        <td style="width:10%">Paris</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.3.0 : the WPS developing environment</td>
        <td><a href="http://2013.foss4g.org" target="_blank">FOSS4G 2013</a></td>
        <td style="width:10%"><date>2013-09-18</date></td> 
        <td style="width:13%" class="hidden-xs">52.9397,-1.1945</td>
        <td style="width:10%">Nottingham</td>
        <td style="width:10%"><img src="../../images/flags/gb.png" /> <span class="hidden-xs">UK</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project: play with building blocks</td>
        <td><a href="http://2013.foss4g.org" target="_blank">FOSS4G 2013</a></td>
        <td style="width:10%"><date>2013-09-21</date></td> 
        <td style="width:13%" class="hidden-xs">52.9397,-1.1945</td>
        <td style="width:10%">Nottingham</td>
        <td style="width:10%"><img src="../../images/flags/gb.png" /> <span class="hidden-xs">UK</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.3.0 : the WPS developing environment</td>
        <td><a href="http://2013.foss4g.org" target="_blank">FOSS4G-CEE 2013</a></td>
        <td style="width:10%"><date>2013-07-18</date></td> 
        <td style="width:13%" class="hidden-xs">44.4256,26.1101</td>
        <td style="width:10%">Bucarest</td>
        <td style="width:10%"><img src="../../images/flags/ro.png" /> <span class="hidden-xs">ROMANIA</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project: play with building blocks</td>
        <td><a href="http://2013.foss4g-cee.org/" target="_blank">FOSS4G-CEE 2013</a></td>
        <td style="width:10%"><date>2013-07-17</date></td> 
        <td style="width:13%" class="hidden-xs">44.4256,26.1101</td>
        <td style="width:10%">Bucarest</td>
        <td style="width:10%"><img src="../../images/flags/ro.png" /> <span class="hidden-xs">ROMANIA</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project 1.3: Nouveautés de la plateforme WPS libre</td>
        <td><a href="http://frog.osgeo.fr/" target="_blank">FROG 2013</a></td>
        <td style="width:10%"><date>2013-06-10</date></td> 
        <td style="width:13%" class="hidden-xs">48.8412,2.5875</td>
        <td style="width:10%">Paris</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>ZOO-Project 1.3: ZOO-Project: play with building block</td>
        <td><a href="http://2012.foss4g-cee.org/" target="_blank">FOSS4G-CEE 2012</a></td>
        <td style="width:10%"><date>2012-03-10</date></td> 
        <td style="width:13%" class="hidden-xs">50.1044,14.3893</td>
        <td style="width:10%">Prague</td>
        <td style="width:10%"><img src="../../images/flags/cz.png" /> <span class="hidden-xs">CZ. REP.</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://2012.foss4g-cee.org/" target="_blank">GWF 2012</a></td>
        <td style="width:10%"><date>2012-04-25</date></td> 
        <td style="width:13%" class="hidden-xs">4.8897,52.3406</td>
        <td style="width:10%">Amsterdam</td>
        <td style="width:10%"><img src="../../images/flags/nl.png" /> <span class="hidden-xs">HOLLAND</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Practical Introduction to ZOO-Project</td>
        <td><a href="http://www.osgeo.jp/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/foss4g-2011-osaka/" target="_blank">FOSS4G-Osaka 2011</a></td>
        <td style="width:10%"><date>2011-11-09</date></td> 
        <td style="width:13%" class="hidden-xs">34.5931,135.5046</td>
        <td style="width:10%">Osaka</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project Status: Past, Present and Future</td>
        <td><a href="http://www.osgeo.jp/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/foss4g-2011-tokyo/" target="_blank">FOSS4G-Tokyo 2011</a></td>
        <td style="width:10%"><date>2011-11-07</date></td> 
        <td style="width:13%" class="hidden-xs">35.6611,139.6775</td>
        <td style="width:10%">Tokyo</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Practical Introduction to ZOO-Project</td>
        <td><a href="http://www.osgeo.jp/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/foss4g-2011-tokyo/" target="_blank">FOSS4G-Osaka 2011</a></td>
        <td style="width:10%"><date>2011-11-05</date></td> 
        <td style="width:13%" class="hidden-xs">35.6611,139.6775</td>
        <td style="width:10%">Tokyo</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project Status: Past, Present and Future</td>
        <td><a href="http://2011.foss4g.org/" target="_blank">FOSS4G 2011</a></td>
        <td style="width:10%"><date>2011-09-15</date></td> 
        <td style="width:13%" class="hidden-xs">39.7424,-104.9927</td>
        <td style="width:10%">Denver</td>
        <td style="width:10%"><img src="../../images/flags/us.png" /> <span class="hidden-xs">USA</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Practical Introduction to ZOO-Project </td>
        <td><a href="http://2011.foss4g.org/" target="_blank">FOSS4G 2011</a></td>
        <td style="width:10%"><date>2011-09-13</date></td> 
        <td style="width:13%" class="hidden-xs">39.7424,-104.9927</td>
        <td style="width:10%">Denver</td>
        <td style="width:10%"><img src="../../images/flags/us.png" /> <span class="hidden-xs">USA</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project: The powerful WPS platform </td>
        <td><a href="http://icaci.org/icc2011/" target="_blank">ICC 2011</a></td>
        <td style="width:10%"><date>2011-07-07</date></td> 
        <td style="width:13%" class="hidden-xs">48.8412,2.5875</td>
        <td style="width:10%">Paris</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>WPS et son implémentation open source ZOO 1.2 </td>
        <td><a href="http://www.rencontres-sig-la-lettre.fr/interoperabilite-encore-bien-des-chantiers/" target="_blank">SIG La Lettre 2011</a></td>
        <td style="width:10%"><date>2011-05-17</date></td> 
        <td style="width:13%" class="hidden-xs">48.8412,2.5875</td>
        <td style="width:10%">Paris</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project, the Open WPS platform </td>
        <td><a href="http://geospatialworldforum.org/2011/home.htm" target="_blank">GWF 2011</a></td>
        <td style="width:10%"><date>2011-01-19</date></td> 
        <td style="width:13%" class="hidden-xs">78.4080,17.4123</td>
        <td style="width:10%">Hyderabad</td>
        <td style="width:10%"><img src="../../images/flags/in.png" /> <span class="hidden-xs">INDIA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project, the Open WPS platform</td>
        <td><a href="http://gisws.media.osaka-cu.ac.jp/gisideas10/" target="_blank">GISIDEAS 2010</a></td>
        <td style="width:10%"><date>2010-12-10</date></td> 
        <td style="width:13%" class="hidden-xs">105.8701,21.0294</td>
        <td style="width:10%">Hanoi</td>
        <td style="width:10%"><img src="../../images/flags/vn.png" /> <span class="hidden-xs">VIETNAM</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project, the Open WPS platform</td>
        <td><a href="http://osgeo.cn/" target="_blank">OSGeo.cn event</a></td>
        <td style="width:10%"><date>2010-11-23</date></td> 
        <td style="width:13%" class="hidden-xs">n/a</td>
        <td style="width:10%">Beijing</td>
        <td style="width:10%"><img src="../../images/flags/cn.png" /> <span class="hidden-xs">CHINA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Introduction to ZOO-Project - An Open WPS Platform</td>
        <td><a href="http://osgeo.cn/" target="_blank">CUMTB</a></td>
        <td style="width:10%"><date>2010-11-19</date></td> 
        <td style="width:13%" class="hidden-xs">n/a</td>
        <td style="width:10%">Beijing</td>
        <td style="width:10%"><img src="../../images/flags/cn.png" /> <span class="hidden-xs">CHINA</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Introduction to ZOO-Project</td>
        <td><a href="http://www.gfoss.it/drupal/gfossday2010" target="_blank">GFOSS Day 2010</a></td>
        <td style="width:10%"><date>2010-11-18</date></td> 
        <td style="width:13%" class="hidden-xs">42.9562,12.7110</td>
        <td style="width:10%">Foligno</td>
        <td style="width:10%"><img src="../../images/flags/it.png" /> <span class="hidden-xs">ITALY</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Introduction to ZOO-Project</td>
        <td><a href="http://www.osgeo.jp/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/foss4g2010-in-osaka/" target="_blank">FOSS4G-Osaka 2010</a></td>
        <td style="width:10%"><date>2010-11-7</date></td> 
        <td style="width:13%" class="hidden-xs">34.5931,135.5046</td>
        <td style="width:10%">Osaka</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://www.osgeo.jp/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/foss4g2010-in-osaka/" target="_blank">FOSS4G-Osaka 2010</a></td>
        <td style="width:10%"><date>2010-11-7</date></td> 
        <td style="width:13%" class="hidden-xs">34.5931,135.5046</td>
        <td style="width:10%">Osaka</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Introduction to ZOO-Project</td>
        <td><a href="http://www.gfoss.it/drupal/gfossday2010" target="_blank">FOSS4G-Osaka 2010</a></td>
        <td style="width:10%"><date>2010-11-7</date></td> 
        <td style="width:13%" class="hidden-xs">35.6611,139.6775</td>
        <td style="width:10%">Tokyo</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://www.osgeo.jp/%E3%82%A4%E3%83%99%E3%83%B3%E3%83%88/foss4g2010tokyo/" target="_blank">FOSS4G-Tokyo 2010</a></td>
        <td style="width:10%"><date>2010-11-07</date></td> 
        <td style="width:13%" class="hidden-xs">35.6611,139.6775</td>
        <td style="width:10%">Tokyo</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
 <tr>
        <td><i class="fa fa-laptop"></i></td>
        <td>Introduction to ZOO-Project</td>
        <td><a href="http://2010.foss4g.org" target="_blank">FOSS4G 2010</a></td>
        <td style="width:10%"><date>2010-09-05</date></td> 
        <td style="width:13%" class="hidden-xs">2.1517,41.3723</td>
        <td style="width:10%">Barcelona</td>
        <td style="width:10%"><img src="../../images/flags/es.png" /> <span class="hidden-xs">SPAIN</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project, the powerful WPS platform</td>
        <td><a href="http://2010.foss4g.org" target="_blank">FOSS4G 2010</a></td>
        <td style="width:10%"><date>2010-09-07</date></td> 
        <td style="width:13%" class="hidden-xs">2.1517,41.3723</td>
        <td style="width:10%">Barcelona</td>
        <td style="width:10%"><img src="../../images/flags/es.png" /> <span class="hidden-xs">SPAIN</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project, the powerful WPS platform</td>
        <td><a href="http://webmgs2010.como.polimi.it/" target="_blank">WebMGS 2010</a></td>
        <td style="width:10%"><date>2010-08-26</date></td> 
        <td style="width:13%" class="hidden-xs">9.0961,45.8040</td>
        <td style="width:10%">Como</td>
        <td style="width:10%"><img src="../../images/flags/it.png" /> <span class="hidden-xs">ITALY</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project, the powerful WPS platform</td>
        <td><a href="http://www.opensourcegis.org.uk/" target="_blank">OSGIS 2010</a></td>
        <td style="width:10%"><date>2010-06-22</date></td> 
        <td style="width:13%" class="hidden-xs">52.9397,-1.1945</td>
        <td style="width:10%">Nottingham</td>
        <td style="width:10%"><img src="../../images/flags/gb.png" /> <span class="hidden-xs">UK</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project, the powerful WPS platform</td>
        <td><a href="http://mpba.fbk.eu/en/node/115" target="_blank">WPS workshop</a></td>
        <td style="width:10%"><date>2010-05-13</date></td> 
        <td style="width:13%" class="hidden-xs">46.0627,11.1244</td>
        <td style="width:10%">Trento</td>
        <td style="width:10%"><img src="../../images/flags/it.png" /> <span class="hidden-xs">ITALY</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://foss4g.fr" target="_blank">SIG La Lettre 2010</a></td>
        <td style="width:10%"><date>2010-05-05</date></td> 
        <td style="width:13%" class="hidden-xs">48.8412,2.5875</td>
        <td style="width:10%">Paris</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://geoseminaire2010.teledetection.fr/" target="_blank">Géoséminaire 2010</a></td>
        <td style="width:10%"><date>2010-03-02</date></td> 
        <td style="width:13%" class="hidden-xs">43.6180/3.8566</td>
        <td style="width:10%">Montpellier</td>
        <td style="width:10%"><img src="../../images/flags/fr.png" /> <span class="hidden-xs">FRANCE</span></td>
      </tr>
      <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="#" target="_blank">Area Informatics 2010</a></td>
        <td style="width:10%"><date>2010-02-01</date></td> 
        <td style="width:13%" class="hidden-xs">105.8701,21.0294</td>
        <td style="width:10%">Hanoi</td>
        <td style="width:10%"><img src="../../images/flags/vn.png" /> <span class="hidden-xs">VIETNAM</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://www.osgeo.jp/foss4g2009-in-osaka/" target="_blank">FOSS4G-Osaka 2009</a></td>
        <td style="width:10%"><date>2009-11-06</date></td> 
        <td style="width:13%" class="hidden-xs">34.5931,135.5046</td>
        <td style="width:10%">Osaka</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://www.osgeo.jp/foss4g2009-in-tokyo/" target="_blank">FOSS4G-Tokyo 2009</a></td>
        <td style="width:10%"><date>2009-11-01</date></td> 
        <td style="width:13%" class="hidden-xs">35.6611,139.6775</td>
        <td style="width:10%">Tokyo</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://2009.foss4g.org/" target="_blank">FOSS4G 2009</a></td>
        <td style="width:10%"><date>2009-10-22</date></td> 
        <td style="width:13%" class="hidden-xs">151.2001,-33.8759</td>
        <td style="width:10%">Sydney</td>
        <td style="width:10%"><img src="../../images/flags/au.png" /> <span class="hidden-xs">AUSTRALIA</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://www.chula.ac.th/en/" target="_blank">Lecture@Chula</a></td>
        <td style="width:10%">  <date>2009-10-17</date></td> 
        <td style="width:13%" class="hidden-xs">13.7386,100.5309</td>
        <td style="width:10%">Bangkok</td>
        <td style="width:10%"><img src="../../images/flags/th.png" /> <span class="hidden-xs">THAILAND</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://www.ait.ac.th/" target="_blank">Lecture@AIT</a></td>
        <td style="width:10%">  <date>2009-10-16</date></td> 
        <td style="width:13%" class="hidden-xs">14.0799,100.6135</td>
        <td style="width:10%">Bangkok</td>
        <td style="width:10%"><img src="../../images/flags/th.png" /> <span class="hidden-xs">THAILAND</span></td>
      </tr>
       <tr>
        <td><i class="fa fa-microphone"></i></td>
        <td>ZOO-Project presentation</td>
        <td><a href="http://www.osgeo.jp/" target="_blank">OSGeo.JP event</a></td>
        <td style="width:10%"><date>2009-09-12</date></td> 
        <td style="width:13%" class="hidden-xs">34.5931,135.5046</td>
        <td style="width:10%">Osaka</td>
        <td style="width:10%"><img src="../../images/flags/jp.png" /> <span class="hidden-xs">JAPAN</span></td>
      </tr>
</table>


</div>
</div>
</div>
<script src="../../js/ol.min.js"></script>
<script src="../../js/jquery-1.10.2.js"></script>
<script src="../../js/bootstrap.js"></script>
<script>
$(function(){
var shrinkHeader = 80;
$(window).scroll(function() {
	var scroll = getCurrentScroll();
	if ( scroll >= shrinkHeader ) {
		$('.navbar-brand').addClass('navbar-shrink');
		$('.navbar-inverse').addClass('navbar-colored');
		$('.navbar-nav').css({"margin":"0 0 0 15px"});
		$(".sun").show();
	$('.navbar-lower').addClass('navbarlower-colored');
	
	}
	else{
		$('.navbar-brand').removeClass('navbar-shrink');
		$('.navbar-inverse').removeClass('navbar-colored');
		$('.navbar-nav').css({"margin":"25px 0 0 25px"});
		$(".sun").hide();
		$('.navbar-lower').removeClass('navbarlower-colored');
	
	}
});
function getCurrentScroll() {
	return window.pageYOffset;
	}
});

$('[data-toggle="tooltip"]').tooltip();
$('.navbar-lower').affix({offset: {top: 60}});	

var event = new ol.View({

    center: ol.proj.transform([174.8794145,-36.9846122], 'EPSG:4326','EPSG:3857'),
    zoom: 11
});

var map = new ol.Map({
  layers: [
    new ol.layer.Tile({
      source: new ol.source.OSM()
    })
  ],
  controls: [],
  interactions: [],
  target: 'eventmap',
  view: event
});
</script>
{{ end }}