/*ZOO Project WebSite CSS*/


body {
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 14px;
}

img{border:0;}

h1{font-size:1.4em;color:#663e05;padding:10px;font-weight:normal;background:transparent;}
p{font-size:1em;color:#333333;padding:5px 2%;width:96%;text-align:justify; color:#646464;}

.left{float:left;padding:0 1em;}

ul{
	list-style:square;
	padding:0 3%;
}

ul li {margin:1em;/*color:#646464;*/}

#wrapper { 
 margin: 0;
 padding:0
 width: 100%;
}
#faux {
 background:#999999;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bababa', endColorstr='#707070'); /* for IE */
background:-webkit-gradient(linear, left top, left bottom, from(#bababa), to(#707070)); /* for webkit browsers */
background:-moz-linear-gradient(top,  #bababa,  #707070); /* for firefox 3.6+ */
 overflow: hidden; /
 width: 100%;
 margin:0;

}
#header {
 color: #333;
 width: 100%;
 height: 220px;
 margin: 0;
 background: #FFFFFF ;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#fff196'); /* for IE */
background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#fff196)); /* for webkit browsers */
background:-moz-linear-gradient(top,  #FFFFFF, #fff196  ); /* for firefox 3.6+ */

}

.hleft{
float:left;
margin:0;
width:380px;
height:180px;
background:url(../../images/trac/zoo-title.png) no-repeat;}


h1.title{width:290px;position:relative;top:115px;left:15px;font-size:1.4em;letter-spacing:2px;color:#727272;text-transform:uppercase;padding:5px;
 background:#999999;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#bbbbbb'); /* for IE */
background:-webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#bbbbbb)); /* for webkit browsers */
background:-moz-linear-gradient(top,  #e0e0e0,  #bbbbbb); /* for firefox 3.6+ */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
		border: 1px solid #d4d4d4;
		text-align:center;
		text-shadow: 1px 1px 1px #E0E0E0;
}

.orange{color:#ffaa17;display:block;padding:5px;}

.hright{
	float:right;
margin:0;

width:533px;
  background:url(../../images/trac/zoo-banner.png) no-repeat;
  height:180px;
}



ul.topnav {
	position:relative;
	top:0;
	left:0;
	list-style: none;
	padding: 0 ;	
	margin: 0;
	float: left;
	width: 100%;
	height:40px;
	background: #563404;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#563404', endColorstr='#663e05'); /* for IE */
background:-webkit-gradient(linear, left top, left bottom, from(#563404), to(#663e05)); /* for webkit browsers */
background:-moz-linear-gradient(top,  #563404,  #663e05); /* for firefox 3.6+ */
	font-size: 1.2em;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 6px 10px 10px 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
	
}
ul.topnav li a:hover{
	background: transparent;
	color:#ffcd0b;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 20px; top: 35px;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #663e05;
	z-index:1000000;
	

}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;

	clear: both;
	width: 125px;
}
html ul.topnav li ul.subnav li a {
		font-size:.8em;
	float: left;
	width: 155px;
	background: #663e05;
	padding:3px 5px 3px 10px ;

}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
 
}


#rightcolumn { 
 display: inline;
 color: #333;
 margin:1%  1% 0 0 ;
 padding: 0px;
 width: 22.5%;
 float: right;
background:transparent; 

}
.categories{
	background: #563404;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee920c', endColorstr='#ffcd0b'); /* for IE */
background:-webkit-gradient(linear, left top, left bottom, from(#ee920c), to(#ffcd0b)); /* for webkit browsers */
background:-moz-linear-gradient(top,  #ee920c,  #ffcd0b); /* for firefox 3.6+ */
	font-size: 1.3em;
		width: 98%;
	margin-bottom: 1em;
	border:0;
	padding:1%;
			text-shadow: 1px 1px 1px #E0E0E0;
		-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
border-radius: 5px;
	
}


p.version{
color:#FFFFFF;
text-shadow: none;
margin:0 0 10px 10px ;
padding:0;
	

}



.knowledges_partners, .rblock{
	background:#FFFFFF;
		width: 98%;
	margin-bottom: 1em;
	border:0;
	padding:1%;
}



.related_links{
	background:#FFFFFF;
		width: 98%;
	margin-bottom: 1em;
	border:0;
	padding:1%;
}


#leftcolumn { 
 float: left;
 color: #333;
/* border: 1px solid red;*/
 margin:1%;
 padding: 0px;
 width: 74%;
 display: inline;
 position: relative;
background:#FFFFFF;
}

#leftcolumn a { 
color:#ff8a17;
text-decoration:none;
}

table.photos{ 
padding:5px;
}


#footer { 
	clear:both;
 width:99.99%;
 color: #333;
 background: #ffcd0b;
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcd0b', endColorstr='#ee920c'); /* for IE */
background:-webkit-gradient(linear, left top, left bottom, from(#ffcd0b), to(#ee920c)); /* for webkit browsers */
background:-moz-linear-gradient(top,  #ffcd0b, #ee920c  ); /* for firefox 3.6+ */
 margin: 0;
 padding: 0;
}

#footer p{
	padding: 0;
	text-align: center;
	margin: 0;
}

#footer a{
	color: #563404;
	font-weight: bold;
	font-size: 14px;
	text-decoration: none;
}

#footer .icon{
	display: none;
}

#footer div{
	text-align: center;
}


#footer .menuContainer{
width: 750px; margin-left: auto; margin-right: auto;
}

#footer .menuItemList{
	margin-top: 1em;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	border-left: 1px dashed #563404;;
}

#footer .menuItemList a{
	font-weight: normal;
}

.sponsors{	background:#FFFFFF;
		width:76%;
		float:left;
	margin-bottom: 1em;
	border:0;
	padding:0;}
a.sponsor{display:inline;float:left;padding:5px 10px;}
.twitter{float:right;position:relative;bottom:0px;right:0px;padding:0;margin:0;background:transparent;}



.clear { clear: both; background: none; }


a.ext-link .icon {
background:url("/trac/chrome/common/extlink.gif") no-repeat scroll center center transparent;
padding-left:12px;
}

h2, .wiki h2, .post h2, .post .wiki h2 {
color:#663e05;
font-size:1.2em;
margin:0;
padding:10px;
font-weight:normal;
}

h3, .wiki h3, .post h3, .post .wiki h3 {
color:#333333;
font-size:1.1em;
margin:0;
padding:10px;
}

h1, h2, h3, h4, h5, h6{
padding:10px;
color: #663e05;
}

h4, h5, h6 {
padding: 0 15px;
}

.anchor{visibility:hidden;}
.anchor:hover{visibility:visible;}

/* Heading anchors */
.anchor:link, .anchor:visited {
 border: none;
 color: #d7d7d7;
 font-size: .8em;
 vertical-align: text-top;
}
* > .anchor:link, * > .anchor:visited {
 visibility: hidden;
}
h1:hover .anchor, h2:hover .anchor, h3:hover .anchor,
h4:hover .anchor, h5:hover .anchor, h6:hover .anchor,
span:hover .anchor {
 visibility: visible;
}


ol.loweralpha { list-style-type: lower-alpha }
ol.upperalpha { list-style-type: upper-alpha }
ol.lowerroman { list-style-type: lower-roman }
ol.upperroman { list-style-type: upper-roman }
ol.arabic     { list-style-type: decimal }


ol {
line-height:26px;
margin:0 0 10px 1em;
text-align:justify;
}


a.wiki{
padding: 0;
}


.categories a{
text-decoration:none;
}


ul.subtopnav{
	position:relative;
	top:0;
		left:0;
	list-style: none;
	padding: 0 ;	
	margin: 0;
	float: left;
	width: 100%;
	height:40px;
	background: #ee910c;
	font-size: 1em;
	display: block;
	margin-bottom: 5px;
}


ul.subtopnav li{
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}

#leftcolumn li.default a, ul.subtopnav li a{
	padding: 7px 10px 10px 20px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
	
}
#leftcolumn li.default a:hover, ul.subtopnav li.default a:hover{
	background: transparent;
	color:#663e05;
}
.wiki h1, .post h1, .post .wiki h1 {
color:#663E05;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:1.4em;
letter-spacing:0px;
margin-top:1em;
padding:0;
}

.wiki a, .post a, .post .wiki a{
margin:0;
padding:0;
}


#leftcolumn .wiki form div {
float: left;
}

#altlinks{
clear: both; text-align: center;
}


/* Page preferences form */
#prefs {
 background: #f7f7f0;
 border: 1px outset #998;
 float: right;
 font-size: 9px;
 padding: .8em;
 position: relative;
 margin: 0 1em 1em;
}
* html #prefs { width: 26em } /* Set width only for IE */
#prefs input, #prefs select { font-size: 9px; vertical-align: middle }
#prefs fieldset {
 background: transparent;
 border: none;
 margin: .5em;
 padding: 0;
}
#prefs fieldset legend {
 background: transparent;
 color: #000;
 font-size: 9px;
 font-weight: normal;
 margin: 0 0 0 -1.5em;
 padding: 0;
}
#prefs .buttons { text-align: right }
/* Styles for tabular listings such as those used for displaying directory
   contents and report results.*/ 
table.listing {
 clear: both;
 border-bottom: 1px solid #d7d7d7;
 border-collapse: collapse;
 border-spacing: 0;
 margin-top: 1em;
 margin-bottom: 1em;
 width: 100%;
}
table.listing th { text-align: left; padding: 0 1em .1em 0; font-size: 12px }
table.listing thead { background: #f7f7f0 }
table.listing thead th {
 border: 1px solid #d7d7d7;
 border-bottom-color: #999;
 font-size: 11px;
 font-weight: bold;
 padding: 2px .5em;
 vertical-align: bottom;
}
table.listing thead th :link:hover, table.listing thead th :visited:hover {
 background-color: transparent;
}
table.listing thead th a { border: none; padding-right: 12px }
table.listing th.asc a, table.listing th.desc a { font-weight: bold }
table.listing th.asc a, table.listing th.desc a {
 background-position: 100% 50%;
 background-repeat: no-repeat;
}
table.listing th.asc a { background-image: url(../asc.png) }
table.listing th.desc a { background-image: url(../desc.png) }
table.listing tbody td, table.listing tbody th {
 border: 1px dotted #ddd;
 padding: .3em .5em;
 vertical-align: top;
}
table.listing tbody td a:hover, table.listing tbody th a:hover {
 background-color: transparent;
}
table.listing tbody tr { border-top: 1px solid #ddd }
table.listing tbody tr.even { background-color: #fcfcfc }
table.listing tbody tr.odd { background-color: #f7f7f7 }
table.listing tbody tr:hover { background: #eed !important }
table.listing tbody tr.focus { background: #ddf !important }

/* Styles for the page history table
   (extends the styles for "table.listing") */ 
#fieldhist td { padding: 0 .5em }
#fieldhist td.date, #fieldhist td.diff, #fieldhist td.version,
#fieldhist td.author {
 white-space: nowrap;
}
#fieldhist td.version { text-align: center }
#fieldhist td.comment { width: 100% }


#content{
width: 100%;
}
#help {
 clear: both;
 color: #999;
 font-size: 90%;
 margin: 1em;
 text-align: right;
}
#help :link, #help :visited { cursor: help }
#help hr { display: none }

.rblock h2{font-size:1.2em;color:#663e05;padding:10px;font-weight:normal;background:transparent;}
.rblock ul {list-style:none;}
.rblock ul li { margin: 0; }
.rblock input {position:relative;top:0;left:2em;margin-bottom:5px;}
pre.wiki, pre.literal-block {
 background: #f7f7f7;
 border: 1px solid #d7d7d7;
 margin: 1em 1.75em;
 padding: .25em;
 overflow: auto;
}


:link, :visited {
border-bottom:0;
}


#header h1 {
margin:0;
}


/*#header :link, #header :visited, #header :link:hover, #header :visited:hover {
color: #fff;
}*/


#footer :link, #footer :visited {
color:#563404;
}

:link:hover, :visited:hover{
background: transparent no-repeat;
}



.wiki .entry span, .post .entry span, .post .wiki .entry span {
    float: left;
}

dt :link:hover, dt :visited:hover{
	background-color: #fff;
}

dt.changeset, dt.changeset a, dt.changeset:hover, /*dt.changeset:hover a:hover,*/ dt.wiki, dt.wiki a, dt.wiki:hover, dt.wiki a:hover, dt:hover {
	background-image: none !important;
	background: #ffffff transparent no-repeat !important;
}

dt.changeset a, dt.changeset a:hover {
    background: #ffffff transparent no-repeat;
    background-image: url("/trac/chrome/common/changeset.png") !important;
}

dt.wiki a, dt.wiki a:hover {
    background-image: url("/trac/chrome/common/wiki.png") !important;
}


td.l, dd.message p{
	text-align: left;
}

span.time{
margin-left: 25px;
}

#leftcolumn ul li{color:#646464;}

table.wiki, table.code{width:96%;margin: 0 2% 1em;cell-padding: 0;}

table.code thead th{background: none repeat scroll 0 0 orange;color: #fff}
.linenomacro{width: 30px;}

.wiki-toc {margin: 0 2em 2em 1em;border: 1px solid orange;}

p{width: 93%;}

table.dirlist td.rev, table.dirlist td.age, table.dirlist td.author, table.dirlist td.change {
    color: #888888;
        max-width: 100px;
	    overflow: hidden;
	        vertical-align: middle;
		    white-space: nowrap;
		    }
table.dirlist td.name {
    width: auto;
	}
body{min-width: 1000px;}
.rblock p {text-align: left;}


textarea {
width: 100%
}
