{{ define "main" }}
<div class="bubble-container "></div> 
<section>
<div class="dispaly-01">
    <div class="content">
        <h3 class="head1">Open Web Processing Service Platform</h3>
        <p class="p-01">ZOO-Project is a WPS (Web Processing Service) implementation written in C, Python and JavaScript.<br> It is an open source platform which implements the WPS 1.0.0 and WPS 2.0.0 standards edited by the Open Geospatial Consortium (OGC).
        </p>
    </div>
    <div class="imgages">
        <img class="img02" src="/images/OSGeo_project.svg">
    </div>
    
</div>
<button class="btn-01">Read More</button>

<div class="certi-01">
    <h4 class="p-02">Certifications</h4>
</div>

<div class="certificate">
    <div class="column1">
        <img class="certi-img1" src="/images/OGC_Certified_Badge.png">
    </div>
    <div class="column1">
        <img class="certi-img1" src="/images/badge.png">
    </div>
    <div class="column1">
        <img class="certi-img1" src="/images/badge (1).png">
    </div>
    <div class="column2">
        <img class="certi-img2" src="/images/Foss4G-2024-tran_WhiteBG-300x300.png">
    </div>
</div>


<div class="components">
    <div class="img-04">
        <img class="img03" src="/images/zoo5.png">
    </div>
    
</div>

<div class="wps-01">
<div class="category">
    <h4 class="head03">Open WPS platform</h4>
</div>
<div class="category-01">
    <p>ZOO-Kernel is a powerful server-side C Kernel able to manage and chain WPS services</p>
</div>
</div>
</section>
{{ end }}

